<a href="https://colab.research.google.com/github/Lucassantana00/IDVCN3/blob/master/cnh_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleta, limpeza e estruturação da base de cartorios.

In [ ]:
import pandas as pd
import io
from pathlib import Path
import requests
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.6/dist-packages (2.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.5)
Requirement already satisfied: distro in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.5.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)

Nesta linha estamos baixando as blibliotecas que serão necessarias para a aplicação e normatização dos dados.
pandas para criação dos DataFrame.
tabula-py para fazer a leitura das tabelas dos arquivos em PDF que serão utilizados.
pathlib para oferece classes que representam os caminhos do sistema de arquivos com o Path que instalaré o caminho adequado para a tarefa com a maquina, onde o arquivo esta sendo gerado. A biblioteca requests vamos utiliza-la para a baixa e leitura dos arquivos que vamos importar das paginas web(PDF).
IO, Importando a plataforma SaaS de integração de dados da web (WDI), que permite às pessoas converter dados da web não estruturados em um formato estruturado.

In [ ]:
url = "https://portal.mj.gov.br/CartorioInterConsulta/consulta.do?action=baixarCSVTodosCartorios"
s = requests.get(url).content
ds = pd.read_csv(io.StringIO(s.decode('latin-1')),  encoding='utf-8', error_bad_lines=False, sep= ';', index_col=False)
ds.head()

   UF                CNPJ  ...       Comarca Entrância
0  AC  04.034.872/0001-21  ...    ACRELÂNDIA  Primeira
1  AC  12.550.310/0001-69  ...    ACRELÂNDIA  Primeira
2  AC  04.034.484/0019-50  ...  ASSIS BRASIL  Primeira
3  AC  12.862.684/0001-26  ...     BRASILÉIA   Segunda
4  AC  03.557.395/0001-16  ...     BRASILÉIA   Segunda

[5 rows x 24 columns]

Importando a base de dados dos cartorios do Site https://portal.mj.gov.br/CartorioInterConsulta/, não estrutarada e gerando o DataFrame.

In [ ]:
ds.dropna(subset=['CEP'])
ds['cep_digito'] =  ds["CEP"].astype(str).str[:2]
ds["CEP"] = ds["CEP"].fillna(0).astype(int)
ds['Geocoder'] = ds["Endereço"] + ', ' + ds["Município"]
ds.head()

   UF  ...                                       Geocoder
0  AC  ...  Av. Governador Edmundo Pinto, 581, Acrelândia
1  AC  ...  Rua Sebastião Bocalon Junior, s/n, Acrelândia
2  AC  ...   Rua Francisco das Chagas, 872 , Assis Brasil
3  AC  ...             Rua Odilon Pratagi, 561, Brasiléia
4  AC  ...   Av. Prefeito Rolando Moreira, 128, Brasiléia

[5 rows x 26 columns]

Nesta linha estamos gerando as limpeza e estruturação e normatização dos dados dos ceps da tabela, estamos atribuindo o DataFrame ao sistema de geocoder para os endereços e ceps.
Tabém foi criado a coluna de Cep, somente com o primero digito que na fase inicial de aplicação servira para iteragir com as informações passadas pelo usuario.

In [ ]:
ds2 = ds[ds['Atribuições'].str.contains('Notas|Registro de Imóveis', na = False)]
ds2.describe()

                CEP
count  1.019800e+04
mean   5.407703e+07
std    2.529661e+07
min    0.000000e+00
25%    3.599425e+07
50%    5.302008e+07
75%    7.690076e+07
max    9.998000e+07

Nesta linha estamos atribuindo e estrurando a aplicação que crie o DataFrame somente considerando verdadeiro os dados que contenham, como atividade registros de notas e imoveis.

In [ ]:
!pip install pycep_correios
import pycep_correios
temp_end = ds

Requirement already satisfied: pycep_correios in /usr/local/lib/python3.6/dist-packages (4.0.3)
Requirement already satisfied: deprecated in /usr/local/lib/python3.6/dist-packages (from pycep_correios) (1.2.10)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from pycep_correios) (2.23.0)
Requirement already satisfied: zeep>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from pycep_correios) (3.4.0)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.6/dist-packages (from deprecated->pycep_correios) (1.12.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (1.24.3)
Requirement already satisfied: defusedxml>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (0.6.0)
Requirement already satisfied: requests-toolbelt>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (0.9.1)
Requirement already satisfied: attrs>=17.2.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (19.3.0)
Requirement already satisfied: isodate>=0.5.4 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (0.6.0)
Requirement already satisfied: appdirs>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (1.4.4)
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (4.2.6)
Requirement already satisfied: cached-property>=1.3.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (1.5.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (1.12.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (2018.9)

Esta sendo instalado e integarado ao DataFrame, a biblioteca que intregra o serviço de endereçamento dos correios.

In [ ]:
!pip install geopy
from geopy.distance import geodesic

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

Instalado,a biblioteca de geocodificação simples e consistente, lidar com vários fornecedores de geocodificação diferentes. para ser usado posteriormento num serviço de geolocaização.

In [ ]:
from geopy.geocoders import Nominatim

def geocoder(cep):
  cep = str(cep)
  temp_end = pycep_correios.get_address_from_cep(cep)
  address= str(temp_end['logradouro'] + ', ' + temp_end['cidade'])
  geolocator = Nominatim(user_agent="Your_Name")
  location = geolocator.geocode(address)
  temp = (location.latitude, location.longitude)
  return(temp)

Localize geograficamente um endereço.
Retorna a latitude e longitude do endereço fornecido usandoServiço Nominatim

In [ ]:
geocoder('06767010')

(-23.6248835, -46.7869559)

Teste para verificar se a função criada esta atendendo a pesquida de latitude e logitude

In [ ]:
prima_flavia = geocoder('06624330')
cep_flavia = geocoder('06767010')
print(prima_flavia, cep_flavia)

from geopy.distance import geodesic

print(geodesic(prima_flavia, cep_flavia).km)

(-23.546469, -46.9096449) (-23.6248835, -46.7869559)
15.24005066590918

Nesta linha estamos testando se a aplicação, faz a comparação entre dois endereços distintos. buscando os dados de latitude e longitude e subraindo para o calculo da distancia entre eles.

In [ ]:
import json
#cartorios = json.loads(ds2.T.to_json()).values()
#cartorios

importamos a bliblioteca para que codificadores e decodificadores deste módulo preservam a ordem de entrada e saída por padrão.

# Coleta de dados e estruturação DataFrame São Paulo.

In [ ]:
filename = Path('temp_excel_tabela_sem.iss_sp_.xlsx')
url = 'https://www.cnbsp.org.br/__Documentos/Upload_Conteudo/arquivos/Tabela_Custas/tabela_2020_versao_editavel__iss_capital_excel_.xlsx'
response = requests.get(url)
filename.write_bytes(response.content)

29010

Importando a base de dados da precificação para São Paulo Capital do Site https://www.cnbsp.org.br/index.php?pG=X190YWJlbGFzX2Vtb2x1bWVudG9z, não estrutarada e gerando o DataFrame.

In [ ]:
tables = pd.read_excel("temp_excel_tabela_sem.iss_sp_.xlsx",skiprows=4)

Nesta linha gerando a lista do arquivo xlsx, que coletamos atraves do endereço.

In [ ]:
tables = tables.head(32)

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.

In [ ]:
tables.head(5)

  Unnamed: 0 Unnamed: 1  Unnamed: 2  ... Trib. Just.  Sta. Casa    TOTAL
0          a         de        0.00  ...       10.48       1.53   256.48
1          b         de     1095.01  ...       15.66       2.28   383.28
2          c         de     4140.01  ...       24.46       3.56   598.46
3          d         de     6901.01  ...       34.94       5.09   854.94
4          e         de    13805.01  ...       47.23       6.88  1155.61

[5 rows x 14 columns]

Visualização do DataFrame.

In [ ]:
tables['faixa_valor']=tables[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']].astype(str).agg(' ' .join,axis=1)

In [ ]:
tables.head(32)

   Unnamed: 0 Unnamed: 1  ...    TOTAL                    faixa_valor
0           a         de  ...   256.48              de 0.0 até 1095.0
1           b         de  ...   383.28          de 1095.01 até 4140.0
2           c         de  ...   598.46          de 4140.01 até 6901.0
3           d         de  ...   854.94         de 6901.01 até 13805.0
4           e         de  ...  1155.61        de 13805.01 até 27610.0
5           f         de  ...  1370.86        de 27610.01 até 55220.0
6           g         de  ...  1627.35        de 55220.01 até 82830.0
7           h         de  ...  1928.02       de 82830.01 até 110440.0
8           i         de  ...  2184.57      de 110440.01 até 138050.0
9           j         de  ...  2443.97      de 138050.01 até 165660.0
10          k         de  ...  2741.74      de 165660.01 até 193270.0
11          l         de  ...  3001.19      de 193270.01 até 220880.0
12          m         de  ...  3301.88      de 220880.01 até 237255.0
13          n         de  ...  3514.15      de 237255.01 até 276100.0
14          o         de  ...  3900.33      de 276100.01 até 552200.0
15          p         de  ...  4330.77      de 552200.01 até 828300.0
16          q         de  ...  4802.47     de 828300.01 até 1104400.0
17          r         de  ...   5306.6    de 1104400.01 até 1685249.0
18          s         de  ...   7370.3    de 1685249.01 até 2808749.0
19          t         de  ...  9581.35    de 2808749.01 até 4213123.0
20          u         de  ...  11792.5    de 4213123.01 até 5617497.0
21          v         de  ...  14003.5    de 5617497.01 até 7021872.0
22          w         de  ...  16214.6    de 7021872.01 até 8426246.0
23          x         de  ...  18425.7    de 8426246.01 até 9830621.0
24          y         de  ...  20636.7   de 9830621.01 até 11234995.0
25          z         de  ...  22847.8  de 11234995.01 até 12639369.0
26         z1         de  ...    25059  de 12639369.01 até 14043744.0
27         z2         de  ...  29481.1  de 14043744.01 até 16852492.0
28         z3         de  ...  33903.3  de 16852492.01 até 19661241.0
29         z4         de  ...  38325.4  de 19661241.01 até 22469990.0
30         z5         de  ...  42747.6  de 22469990.01 até 25278739.0
31         z6         de  ...  47169.8         de 25278739.01 até 0.0

[32 rows x 15 columns]

In [ ]:
tables['valor_inicial']=tables[['Unnamed: 2']].astype(str).agg(' ' .join,axis=1)
tables['valor_final']=tables[['Unnamed: 4']].astype(str).agg(' ' .join,axis=1)

Nestas linhas estamos concatenado colunas para termos uma faixa de valor, e termos tambem a entrada de valor inicial e valor final, normatizamos todas as tabelas para seguirem o mesmo formato.

In [ ]:
tables.head(32)

   Unnamed: 0 Unnamed: 1  ...  valor_inicial valor_final
0           a         de  ...            0.0      1095.0
1           b         de  ...        1095.01      4140.0
2           c         de  ...        4140.01      6901.0
3           d         de  ...        6901.01     13805.0
4           e         de  ...       13805.01     27610.0
5           f         de  ...       27610.01     55220.0
6           g         de  ...       55220.01     82830.0
7           h         de  ...       82830.01    110440.0
8           i         de  ...      110440.01    138050.0
9           j         de  ...      138050.01    165660.0
10          k         de  ...      165660.01    193270.0
11          l         de  ...      193270.01    220880.0
12          m         de  ...      220880.01    237255.0
13          n         de  ...      237255.01    276100.0
14          o         de  ...      276100.01    552200.0
15          p         de  ...      552200.01    828300.0
16          q         de  ...      828300.01   1104400.0
17          r         de  ...     1104400.01   1685249.0
18          s         de  ...     1685249.01   2808749.0
19          t         de  ...     2808749.01   4213123.0
20          u         de  ...     4213123.01   5617497.0
21          v         de  ...     5617497.01   7021872.0
22          w         de  ...     7021872.01   8426246.0
23          x         de  ...     8426246.01   9830621.0
24          y         de  ...     9830621.01  11234995.0
25          z         de  ...    11234995.01  12639369.0
26         z1         de  ...    12639369.01  14043744.0
27         z2         de  ...    14043744.01  16852492.0
28         z3         de  ...    16852492.01  19661241.0
29         z4         de  ...    19661241.01  22469990.0
30         z5         de  ...    22469990.01  25278739.0
31         z6         de  ...    25278739.01         0.0

[32 rows x 17 columns]

Teste.
visualizando e vericando a aplicação.

In [ ]:
tables_sp = tables[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
tables_sp['UF'] = 'SP'
tables_sp

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      faixa_valor valor_inicial valor_final    TOTAL  UF
0               de 0.0 até 1095.0           0.0      1095.0   256.48  SP
1           de 1095.01 até 4140.0       1095.01      4140.0   383.28  SP
2           de 4140.01 até 6901.0       4140.01      6901.0   598.46  SP
3          de 6901.01 até 13805.0       6901.01     13805.0   854.94  SP
4         de 13805.01 até 27610.0      13805.01     27610.0  1155.61  SP
5         de 27610.01 até 55220.0      27610.01     55220.0  1370.86  SP
6         de 55220.01 até 82830.0      55220.01     82830.0  1627.35  SP
7        de 82830.01 até 110440.0      82830.01    110440.0  1928.02  SP
8       de 110440.01 até 138050.0     110440.01    138050.0  2184.57  SP
9       de 138050.01 até 165660.0     138050.01    165660.0  2443.97  SP
10      de 165660.01 até 193270.0     165660.01    193270.0  2741.74  SP
11      de 193270.01 até 220880.0     193270.01    220880.0  3001.19  SP
12      de 220880.01 até 237255.0     220880.01    237255.0  3301.88  SP
13      de 237255.01 até 276100.0     237255.01    276100.0  3514.15  SP
14      de 276100.01 até 552200.0     276100.01    552200.0  3900.33  SP
15      de 552200.01 até 828300.0     552200.01    828300.0  4330.77  SP
16     de 828300.01 até 1104400.0     828300.01   1104400.0  4802.47  SP
17    de 1104400.01 até 1685249.0    1104400.01   1685249.0   5306.6  SP
18    de 1685249.01 até 2808749.0    1685249.01   2808749.0   7370.3  SP
19    de 2808749.01 até 4213123.0    2808749.01   4213123.0  9581.35  SP
20    de 4213123.01 até 5617497.0    4213123.01   5617497.0  11792.5  SP
21    de 5617497.01 até 7021872.0    5617497.01   7021872.0  14003.5  SP
22    de 7021872.01 até 8426246.0    7021872.01   8426246.0  16214.6  SP
23    de 8426246.01 até 9830621.0    8426246.01   9830621.0  18425.7  SP
24   de 9830621.01 até 11234995.0    9830621.01  11234995.0  20636.7  SP
25  de 11234995.01 até 12639369.0   11234995.01  12639369.0  22847.8  SP
26  de 12639369.01 até 14043744.0   12639369.01  14043744.0    25059  SP
27  de 14043744.01 até 16852492.0   14043744.01  16852492.0  29481.1  SP
28  de 16852492.01 até 19661241.0   16852492.01  19661241.0  33903.3  SP
29  de 19661241.01 até 22469990.0   19661241.01  22469990.0  38325.4  SP
30  de 22469990.01 até 25278739.0   22469990.01  25278739.0  42747.6  SP
31         de 25278739.01 até 0.0   25278739.01         0.0  47169.8  SP

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
tables_sp['valor_final'].replace(
    to_replace=['0.0'],
    value='99999999.99',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Nesta linha estamos alterando o valor do ultimo resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

In [ ]:
tables_sp

                      faixa_valor valor_inicial  valor_final    TOTAL  UF
0               de 0.0 até 1095.0           0.0       1095.0   256.48  SP
1           de 1095.01 até 4140.0       1095.01       4140.0   383.28  SP
2           de 4140.01 até 6901.0       4140.01       6901.0   598.46  SP
3          de 6901.01 até 13805.0       6901.01      13805.0   854.94  SP
4         de 13805.01 até 27610.0      13805.01      27610.0  1155.61  SP
5         de 27610.01 até 55220.0      27610.01      55220.0  1370.86  SP
6         de 55220.01 até 82830.0      55220.01      82830.0  1627.35  SP
7        de 82830.01 até 110440.0      82830.01     110440.0  1928.02  SP
8       de 110440.01 até 138050.0     110440.01     138050.0  2184.57  SP
9       de 138050.01 até 165660.0     138050.01     165660.0  2443.97  SP
10      de 165660.01 até 193270.0     165660.01     193270.0  2741.74  SP
11      de 193270.01 até 220880.0     193270.01     220880.0  3001.19  SP
12      de 220880.01 até 237255.0     220880.01     237255.0  3301.88  SP
13      de 237255.01 até 276100.0     237255.01     276100.0  3514.15  SP
14      de 276100.01 até 552200.0     276100.01     552200.0  3900.33  SP
15      de 552200.01 até 828300.0     552200.01     828300.0  4330.77  SP
16     de 828300.01 até 1104400.0     828300.01    1104400.0  4802.47  SP
17    de 1104400.01 até 1685249.0    1104400.01    1685249.0   5306.6  SP
18    de 1685249.01 até 2808749.0    1685249.01    2808749.0   7370.3  SP
19    de 2808749.01 até 4213123.0    2808749.01    4213123.0  9581.35  SP
20    de 4213123.01 até 5617497.0    4213123.01    5617497.0  11792.5  SP
21    de 5617497.01 até 7021872.0    5617497.01    7021872.0  14003.5  SP
22    de 7021872.01 até 8426246.0    7021872.01    8426246.0  16214.6  SP
23    de 8426246.01 até 9830621.0    8426246.01    9830621.0  18425.7  SP
24   de 9830621.01 até 11234995.0    9830621.01   11234995.0  20636.7  SP
25  de 11234995.01 até 12639369.0   11234995.01   12639369.0  22847.8  SP
26  de 12639369.01 até 14043744.0   12639369.01   14043744.0    25059  SP
27  de 14043744.01 até 16852492.0   14043744.01   16852492.0  29481.1  SP
28  de 16852492.01 até 19661241.0   16852492.01   19661241.0  33903.3  SP
29  de 19661241.01 até 22469990.0   19661241.01   22469990.0  38325.4  SP
30  de 22469990.01 até 25278739.0   22469990.01   25278739.0  42747.6  SP
31         de 25278739.01 até 0.0   25278739.01  99999999.99  47169.8  SP

In [ ]:
tables_sp['valor_inicial']=tables_sp['valor_inicial'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
tables_sp['valor_final']=tables_sp['valor_final'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
tables_sp['TOTAL']=tables_sp['TOTAL'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
tables_sp

                      faixa_valor  valor_inicial  valor_final  TOTAL  UF
0               de 0.0 até 1095.0              0         1095    256  SP
1           de 1095.01 até 4140.0           1095         4140    383  SP
2           de 4140.01 até 6901.0           4140         6901    598  SP
3          de 6901.01 até 13805.0           6901        13805    854  SP
4         de 13805.01 até 27610.0          13805        27610   1155  SP
5         de 27610.01 até 55220.0          27610        55220   1370  SP
6         de 55220.01 até 82830.0          55220        82830   1627  SP
7        de 82830.01 até 110440.0          82830       110440   1928  SP
8       de 110440.01 até 138050.0         110440       138050   2184  SP
9       de 138050.01 até 165660.0         138050       165660   2443  SP
10      de 165660.01 até 193270.0         165660       193270   2741  SP
11      de 193270.01 até 220880.0         193270       220880   3001  SP
12      de 220880.01 até 237255.0         220880       237255   3301  SP
13      de 237255.01 até 276100.0         237255       276100   3514  SP
14      de 276100.01 até 552200.0         276100       552200   3900  SP
15      de 552200.01 até 828300.0         552200       828300   4330  SP
16     de 828300.01 até 1104400.0         828300      1104400   4802  SP
17    de 1104400.01 até 1685249.0        1104400      1685249   5306  SP
18    de 1685249.01 até 2808749.0        1685249      2808749   7370  SP
19    de 2808749.01 até 4213123.0        2808749      4213123   9581  SP
20    de 4213123.01 até 5617497.0        4213123      5617497  11792  SP
21    de 5617497.01 até 7021872.0        5617497      7021872  14003  SP
22    de 7021872.01 até 8426246.0        7021872      8426246  16214  SP
23    de 8426246.01 até 9830621.0        8426246      9830621  18425  SP
24   de 9830621.01 até 11234995.0        9830621     11234995  20636  SP
25  de 11234995.01 até 12639369.0       11234995     12639369  22847  SP
26  de 12639369.01 até 14043744.0       12639369     14043744  25058  SP
27  de 14043744.01 até 16852492.0       14043744     16852492  29481  SP
28  de 16852492.01 até 19661241.0       16852492     19661241  33903  SP
29  de 19661241.01 até 22469990.0       19661241     22469990  38325  SP
30  de 22469990.01 até 25278739.0       22469990     25278739  42747  SP
31         de 25278739.01 até 0.0       25278739     99999999  47169  SP

Nesta linha estamos verificando os dados ja estrutura e normatizada.

# Coleta de dados e estruturação DataFrame Bahia.

In [ ]:
from tabula import convert_into
from tabula import read_pdf

Nesta linha estamos instalando o conversor que ira permitir a leitura do PDF em Tabelas.

In [ ]:
filename = Path('temp_pdf_tabela_bahia.pdf')
url = 'http://www5.tjba.jus.br/portal/wp-content/uploads/2019/12/Tabelas-de-Taxas-TJBA-01.01.2020.pdf'
response = requests.get(url)
filename.write_bytes(response.content)

573768

Importando a base de dados de precificação do estado da Bahia em PDF do Site https://www.anoreg.org.br/site/tabela-de-emolumentos/, não estrutarada e gerando o DataFrame.

In [ ]:
df_bahia = read_pdf("temp_pdf_tabela_bahia.pdf", multiple_tables = True, pages = 'all')

Nesta linha gerando a lista do arquivo PDF que coletamos atraves do endereço.

In [ ]:
df_bahia = df_bahia[10]
df_bahia

                  Faixa de Valores Valor a Pagar  Código do Ato
0                     até 1.600,00        237,66           1020
1           de 1.600,01 a 3.200,00        298,96           1030
2           de 3.200,01 a 8.000,00        360,24           1040
3          de 8.000,01 a 12.000,00        389,34           1049
4         de 12.000,01 a 16.000,00        418,96           1058
5         de 16.000,01 a 24.000,00        478,32           1066
6         de 24.000,01 a 32.000,00        539,20           1074
7         de 32.000,01 a 47.000,00        595,58           1082
8         de 47.000,01 a 63.000,00        656,32           1086
9         de 63.000,01 a 78.000,00        720,70           1090
10       de 78.000,01 a 118.000,00        767,58           1097
11      de 118.000,01 a 160.000,00        830,48           1104
12      de 160.000,01 a 235.000,00      1.344,40           1112
13      de 235.000,01 a 350.000,00      2.016,80           1120
14      de 350.000,01 a 530.000,00      3.029,06           1139
15      de 530.000,01 a 800.000,00      4.542,44           1147
16    de 800.000,01 a 1.200.000,00      6.812,54           1155
17  de 1.200.000,01 a 1.800.000,00      8.175,02           1163
18  de 1.800.000,01 a 2.700.000,00     10.627,76           1171
19  de 2.700.000,01 a 4.000.000,00     13.816,08           1180
20        a partir de 4.000.000,01     17.960,94           1198

In [ ]:
df_bahia["Valor a Pagar"]=df_bahia["Valor a Pagar"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

In [ ]:
#df_bahia["Valor a Pagar"]=df_bahia["Valor a Pagar"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.

In [ ]:
df_bahia.astype(str)

                  Faixa de Valores Valor a Pagar Código do Ato
0                     até 1.600,00           237          1020
1           de 1.600,01 a 3.200,00           298          1030
2           de 3.200,01 a 8.000,00           360          1040
3          de 8.000,01 a 12.000,00           389          1049
4         de 12.000,01 a 16.000,00           418          1058
5         de 16.000,01 a 24.000,00           478          1066
6         de 24.000,01 a 32.000,00           539          1074
7         de 32.000,01 a 47.000,00           595          1082
8         de 47.000,01 a 63.000,00           656          1086
9         de 63.000,01 a 78.000,00           720          1090
10       de 78.000,01 a 118.000,00           767          1097
11      de 118.000,01 a 160.000,00           830          1104
12      de 160.000,01 a 235.000,00          1344          1112
13      de 235.000,01 a 350.000,00          2016          1120
14      de 350.000,01 a 530.000,00          3029          1139
15      de 530.000,01 a 800.000,00          4542          1147
16    de 800.000,01 a 1.200.000,00          6812          1155
17  de 1.200.000,01 a 1.800.000,00          8175          1163
18  de 1.800.000,01 a 2.700.000,00         10627          1171
19  de 2.700.000,01 a 4.000.000,00         13816          1180
20        a partir de 4.000.000,01         17960          1198

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_bahia1 = df_bahia.join(df_bahia['Faixa de Valores'].str.split(' ', 3, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'C', 3:'valor_final'}))
df_bahia1

                  Faixa de Valores  Valor a Pagar  ...     C   valor_final
0                     até 1.600,00            237  ...  None          None
1           de 1.600,01 a 3.200,00            298  ...     a      3.200,00
2           de 3.200,01 a 8.000,00            360  ...     a      8.000,00
3          de 8.000,01 a 12.000,00            389  ...     a     12.000,00
4         de 12.000,01 a 16.000,00            418  ...     a     16.000,00
5         de 16.000,01 a 24.000,00            478  ...     a     24.000,00
6         de 24.000,01 a 32.000,00            539  ...     a     32.000,00
7         de 32.000,01 a 47.000,00            595  ...     a     47.000,00
8         de 47.000,01 a 63.000,00            656  ...     a     63.000,00
9         de 63.000,01 a 78.000,00            720  ...     a     78.000,00
10       de 78.000,01 a 118.000,00            767  ...     a    118.000,00
11      de 118.000,01 a 160.000,00            830  ...     a    160.000,00
12      de 160.000,01 a 235.000,00           1344  ...     a    235.000,00
13      de 235.000,01 a 350.000,00           2016  ...     a    350.000,00
14      de 350.000,01 a 530.000,00           3029  ...     a    530.000,00
15      de 530.000,01 a 800.000,00           4542  ...     a    800.000,00
16    de 800.000,01 a 1.200.000,00           6812  ...     a  1.200.000,00
17  de 1.200.000,01 a 1.800.000,00           8175  ...     a  1.800.000,00
18  de 1.800.000,01 a 2.700.000,00          10627  ...     a  2.700.000,00
19  de 2.700.000,01 a 4.000.000,00          13816  ...     a  4.000.000,00
20        a partir de 4.000.000,01          17960  ...    de  4.000.000,01

[21 rows x 7 columns]

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final.

In [ ]:
df_bahia1.replace(to_replace=[None], value="1600", inplace=True)
df_bahia.replace(to_replace=[1.])
df_bahia1.head()

           Faixa de Valores  Valor a Pagar  ...     C valor_final
0              até 1.600,00            237  ...  1600        1600
1    de 1.600,01 a 3.200,00            298  ...     a    3.200,00
2    de 3.200,01 a 8.000,00            360  ...     a    8.000,00
3   de 8.000,01 a 12.000,00            389  ...     a   12.000,00
4  de 12.000,01 a 16.000,00            418  ...     a   16.000,00

[5 rows x 7 columns]

Nesta linha estamos fazendo a alteração do valor nulo para o valor final.

In [ ]:
df_bahia["Valor a Pagar"]=df_bahia["Valor a Pagar"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

In [ ]:
df_bahia1['valor_final'].replace(
    to_replace=['4.000.000,01'],
    value='99999999,99',
    inplace=True
)

In [ ]:
df_bahia1['valor_inicial'].replace(
    to_replace=['1.600,00'],
    value='0.00',
    inplace=True
)

In [ ]:
df_bahia1['valor_inicial'].replace(
    to_replace=['partir'],
    value='4.000.000,01',
    inplace=True
)

Nesta linha estamos alterando o valor do ultimo resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

In [ ]:
df_bahia1.rename(columns={'Faixa de Valores': 'faixa_valor', 'Valor a Pagar': 'TOTAL'}, inplace = True)

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_bahia_a = df_bahia1[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_bahia_a['UF'] = 'BA'
df_bahia_a

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                       faixa_valor valor_inicial   valor_final  TOTAL  UF
0                     até 1.600,00          0.00          1600    237  BA
1           de 1.600,01 a 3.200,00      1.600,01      3.200,00    298  BA
2           de 3.200,01 a 8.000,00      3.200,01      8.000,00    360  BA
3          de 8.000,01 a 12.000,00      8.000,01     12.000,00    389  BA
4         de 12.000,01 a 16.000,00     12.000,01     16.000,00    418  BA
5         de 16.000,01 a 24.000,00     16.000,01     24.000,00    478  BA
6         de 24.000,01 a 32.000,00     24.000,01     32.000,00    539  BA
7         de 32.000,01 a 47.000,00     32.000,01     47.000,00    595  BA
8         de 47.000,01 a 63.000,00     47.000,01     63.000,00    656  BA
9         de 63.000,01 a 78.000,00     63.000,01     78.000,00    720  BA
10       de 78.000,01 a 118.000,00     78.000,01    118.000,00    767  BA
11      de 118.000,01 a 160.000,00    118.000,01    160.000,00    830  BA
12      de 160.000,01 a 235.000,00    160.000,01    235.000,00   1344  BA
13      de 235.000,01 a 350.000,00    235.000,01    350.000,00   2016  BA
14      de 350.000,01 a 530.000,00    350.000,01    530.000,00   3029  BA
15      de 530.000,01 a 800.000,00    530.000,01    800.000,00   4542  BA
16    de 800.000,01 a 1.200.000,00    800.000,01  1.200.000,00   6812  BA
17  de 1.200.000,01 a 1.800.000,00  1.200.000,01  1.800.000,00   8175  BA
18  de 1.800.000,01 a 2.700.000,00  1.800.000,01  2.700.000,00  10627  BA
19  de 2.700.000,01 a 4.000.000,00  2.700.000,01  4.000.000,00  13816  BA
20        a partir de 4.000.000,01  4.000.000,01   99999999,99  17960  BA

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
df_bahia_a["valor_inicial"]=df_bahia_a["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_bahia_a["valor_final"]=df_bahia_a["valor_final"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_bahia_a.head(20)

                       faixa_valor  valor_inicial  valor_final  TOTAL  UF
0                     até 1.600,00              0         1600    237  BA
1           de 1.600,01 a 3.200,00           1600         3200    298  BA
2           de 3.200,01 a 8.000,00           3200         8000    360  BA
3          de 8.000,01 a 12.000,00           8000        12000    389  BA
4         de 12.000,01 a 16.000,00          12000        16000    418  BA
5         de 16.000,01 a 24.000,00          16000        24000    478  BA
6         de 24.000,01 a 32.000,00          24000        32000    539  BA
7         de 32.000,01 a 47.000,00          32000        47000    595  BA
8         de 47.000,01 a 63.000,00          47000        63000    656  BA
9         de 63.000,01 a 78.000,00          63000        78000    720  BA
10       de 78.000,01 a 118.000,00          78000       118000    767  BA
11      de 118.000,01 a 160.000,00         118000       160000    830  BA
12      de 160.000,01 a 235.000,00         160000       235000   1344  BA
13      de 235.000,01 a 350.000,00         235000       350000   2016  BA
14      de 350.000,01 a 530.000,00         350000       530000   3029  BA
15      de 530.000,01 a 800.000,00         530000       800000   4542  BA
16    de 800.000,01 a 1.200.000,00         800000      1200000   6812  BA
17  de 1.200.000,01 a 1.800.000,00        1200000      1800000   8175  BA
18  de 1.800.000,01 a 2.700.000,00        1800000      2700000  10627  BA
19  de 2.700.000,01 a 4.000.000,00        2700000      4000000  13816  BA

#Coleta de dados e estruturação DataFrame Piaui.

In [ ]:
filename = Path('temp_pdf_tabela_piaui.pdf')
url = 'http://www.tjpi.jus.br/portaltjpi/wp-content/uploads/2020/01/Provimento-Conjunto-CGJPI-e-Vice-CGJPI-n%C3%82%C2%BA-01-2020-Disp%C3%83%C2%B5e-sobre-a-atualiza%C3%83%C2%A7%C3%83%C2%A3o-das-tabelas-de-custas-e-emolumentos-do-Estado.pdf'
response = requests.get(url)
filename.write_bytes(response.content)

337278

Importando a base de dados de precificação do estado da Piaui em PDF do Site https://www.anoreg.org.br/site/tabela-de-emolumentos/, não estrutarada e gerando o DataFrame.

In [ ]:
df_piaui = read_pdf("temp_pdf_tabela_piaui.pdf", multiple_tables = True, pages = 'all')

Nesta linha gerando a lista do arquivo PDF que coletamos atraves do endereço.

In [ ]:
df_piauiA = df_piaui[11]
df_piauiA = df_piauiA.dropna(0)
df_piauiA.head(32)

   Código                 Descrição   Cartório  ...        MP      Valor    Selo
1   45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...   R$ 6,01  R$ 294,69  Padrão
2   45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...   R$ 6,73  R$ 329,90  Padrão
3   45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...   R$ 7,45  R$ 365,12  Padrão
4   45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...   R$ 8,17  R$ 400,32  Padrão
5   45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...   R$ 8,89  R$ 435,54  Padrão
6   45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$ 10,33  R$ 505,98  Padrão
7   45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$ 11,76  R$ 576,38  Padrão
8   45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$ 13,20  R$ 646,82  Padrão

[8 rows x 7 columns]

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.
Estaos fazendo també a limpeza dos dados que estão zerados. Devido ao formato divergente nas configuração das paginas do dado não estruturado, tivemos que subdividir este DataFrame.

In [ ]:
#df_piauiA=df_piauiA["Valor"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

ValueError: ignored

In [ ]:
df_piauiA.astype(str)

  Código                 Descrição   Cartório  ...        MP      Valor    Selo
1  45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...   R$ 6,01  R$ 294,69  Padrão
2  45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...   R$ 6,73  R$ 329,90  Padrão
3  45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...   R$ 7,45  R$ 365,12  Padrão
4  45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...   R$ 8,17  R$ 400,32  Padrão
5  45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...   R$ 8,89  R$ 435,54  Padrão
6  45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$ 10,33  R$ 505,98  Padrão
7  45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$ 11,76  R$ 576,38  Padrão
8  45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$ 13,20  R$ 646,82  Padrão

[8 rows x 7 columns]

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_piaui1 = df_piauiA.join(df_piauiA['Descrição'].str.split(' ', 2, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'valor_final'}))
valor_inicial_temp =df_piaui1['valor_inicial'].str.split('a', expand=True).rename(columns={0:'valor_inicial', 1:'B', 2:'C'})

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final.

In [ ]:
df_piaui1['valor_inicial'] = valor_inicial_temp
df_piaui1.head()

   Código                Descrição   Cartório  ...   A valor_inicial valor_final
1   45.01        R$ 0,01aR$ 999,99  R$ 240,57  ...  R$          0,01      999,99
2   45.02  R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...  R$      1.000,00    1.999,99
3   45.03  R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...  R$      2.000,00    2.999,99
4   45.04  R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...  R$      3.000,00    3.999,99
5   45.05  R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...  R$      4.000,00    4.999,99

[5 rows x 10 columns]

Nesta linha estamos normatizando a coluna apos a linpeza e eliminação de dados que poderiam causar incompatibilidade na aplicação do DataFrame ao banco de dados.

In [ ]:
df_piaui1.rename(columns={'Descrição': 'faixa_valor', 'Valor': 'TOTAL'}, inplace = True)
df_piaui1

   Código               faixa_valor   Cartório  ...   A valor_inicial valor_final
1   45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...  R$          0,01      999,99
2   45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...  R$      1.000,00    1.999,99
3   45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...  R$      2.000,00    2.999,99
4   45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...  R$      3.000,00    3.999,99
5   45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...  R$      4.000,00    4.999,99
6   45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$      5.000,00    6.999,99
7   45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$      7.000,00    8.999,99
8   45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$      9.000,00   11.999,99

[8 rows x 10 columns]

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_piaui1A = df_piaui1[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_piaui1A['UF'] = 'PI'
df_piaui1A

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                faixa_valor valor_inicial valor_final      TOTAL  UF
1         R$ 0,01aR$ 999,99          0,01      999,99  R$ 294,69  PI
2   R$ 1.000,00aR$ 1.999,99      1.000,00    1.999,99  R$ 329,90  PI
3   R$ 2.000,00aR$ 2.999,99      2.000,00    2.999,99  R$ 365,12  PI
4   R$ 3.000,00aR$ 3.999,99      3.000,00    3.999,99  R$ 400,32  PI
5   R$ 4.000,00aR$ 4.999,99      4.000,00    4.999,99  R$ 435,54  PI
6   R$ 5.000,00aR$ 6.999,99      5.000,00    6.999,99  R$ 505,98  PI
7   R$ 7.000,00aR$ 8.999,99      7.000,00    8.999,99  R$ 576,38  PI
8  R$ 9.000,00aR$ 11.999,99      9.000,00   11.999,99  R$ 646,82  PI

In [ ]:
df_piaui1A["TOTAL"]=df_piaui1A["TOTAL"].str.replace('R', '').str.replace('$', '').str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
df_piaui1A["valor_inicial"] = df_piaui1A["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)
df_piaui1A["valor_final"] = df_piaui1A["valor_final"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_piauiB = df_piaui[12]
df_piauiB

    Código                    Descrição  ...        Valor    Selo
0    45.09    R$ 12.000,00aR$ 14.999,99  ...    R$ 793,98  Padrão
1    45.10    R$ 15.000,00aR$ 17.999,99  ...    R$ 941,15  Padrão
2    45.11    R$ 18.000,00aR$ 20.999,99  ...  R$ 1.088,31  Padrão
3    45.12    R$ 21.000,00aR$ 23.999,99  ...  R$ 1.235,48  Padrão
4    45.13    R$ 24.000,00aR$ 26.999,99  ...  R$ 1.383,53  Padrão
5    45.14    R$ 27.000,00aR$ 29.999,99  ...  R$ 1.529,85  Padrão
6    45.15    R$ 30.000,00aR$ 34.999,99  ...  R$ 1.738,13  Padrão
7    45.16    R$ 35.000,00aR$ 39.999,99  ...  R$ 1.946,38  Padrão
8    45.17    R$ 40.000,00aR$ 44.999,99  ...  R$ 2.154,64  Padrão
9    45.18    R$ 45.000,00aR$ 49.999,99  ...  R$ 2.362,89  Padrão
10   45.19    R$ 50.000,00aR$ 59.999,99  ...  R$ 2.469,86  Padrão
11   45.20    R$ 60.000,00aR$ 69.999,99  ...  R$ 2.576,85  Padrão
12   45.21    R$ 70.000,00aR$ 79.999,99  ...  R$ 2.683,83  Padrão
13   45.22    R$ 80.000,00aR$ 89.999,99  ...  R$ 2.697,45  Padrão
14   45.23    R$ 90.000,00aR$ 99.999,99  ...  R$ 2.711,12  Padrão
15   45.24  R$ 100.000,00aR$ 149.999,99  ...  R$ 2.724,76  Padrão
16   45.25  R$ 150.000,00aR$ 199.999,99  ...  R$ 2.738,42  Padrão
17   45.26  R$ 200.000,00aR$ 299.999,99  ...  R$ 3.067,29  Padrão
18   45.27  R$ 300.000,00aR$ 399.999,99  ...  R$ 3.335,54  Padrão
19   45.28  R$ 400.000,00aR$ 499.999,99  ...  R$ 3.603,04  Padrão
20   45.29  R$ 500.000,00aR$ 599.999,99  ...  R$ 3.870,52  Padrão
21   45.30  R$ 600.000,00aR$ 699.999,99  ...  R$ 4.138,03  Padrão
22   45.31  R$ 700.000,00aR$ 799.999,99  ...  R$ 4.405,52  Padrão
23   45.32  R$ 800.000,00aR$ 899.999,99  ...  R$ 4.673,02  Padrão
24   45.33  R$ 900.000,00aR$ 999.999,99  ...  R$ 4.940,53  Padrão
25   45.34      acima deR$ 1.000.000,00  ...  R$ 5.208,08  Padrão

[26 rows x 7 columns]

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação. Estaos fazendo també a limpeza dos dados que estão zerados.

In [ ]:
df_piauiB.dropna(inplace=True)
df_piauiB

    Código                    Descrição  ...        Valor    Selo
0    45.09    R$ 12.000,00aR$ 14.999,99  ...    R$ 793,98  Padrão
1    45.10    R$ 15.000,00aR$ 17.999,99  ...    R$ 941,15  Padrão
2    45.11    R$ 18.000,00aR$ 20.999,99  ...  R$ 1.088,31  Padrão
3    45.12    R$ 21.000,00aR$ 23.999,99  ...  R$ 1.235,48  Padrão
4    45.13    R$ 24.000,00aR$ 26.999,99  ...  R$ 1.383,53  Padrão
5    45.14    R$ 27.000,00aR$ 29.999,99  ...  R$ 1.529,85  Padrão
6    45.15    R$ 30.000,00aR$ 34.999,99  ...  R$ 1.738,13  Padrão
7    45.16    R$ 35.000,00aR$ 39.999,99  ...  R$ 1.946,38  Padrão
8    45.17    R$ 40.000,00aR$ 44.999,99  ...  R$ 2.154,64  Padrão
9    45.18    R$ 45.000,00aR$ 49.999,99  ...  R$ 2.362,89  Padrão
10   45.19    R$ 50.000,00aR$ 59.999,99  ...  R$ 2.469,86  Padrão
11   45.20    R$ 60.000,00aR$ 69.999,99  ...  R$ 2.576,85  Padrão
12   45.21    R$ 70.000,00aR$ 79.999,99  ...  R$ 2.683,83  Padrão
13   45.22    R$ 80.000,00aR$ 89.999,99  ...  R$ 2.697,45  Padrão
14   45.23    R$ 90.000,00aR$ 99.999,99  ...  R$ 2.711,12  Padrão
15   45.24  R$ 100.000,00aR$ 149.999,99  ...  R$ 2.724,76  Padrão
16   45.25  R$ 150.000,00aR$ 199.999,99  ...  R$ 2.738,42  Padrão
17   45.26  R$ 200.000,00aR$ 299.999,99  ...  R$ 3.067,29  Padrão
18   45.27  R$ 300.000,00aR$ 399.999,99  ...  R$ 3.335,54  Padrão
19   45.28  R$ 400.000,00aR$ 499.999,99  ...  R$ 3.603,04  Padrão
20   45.29  R$ 500.000,00aR$ 599.999,99  ...  R$ 3.870,52  Padrão
21   45.30  R$ 600.000,00aR$ 699.999,99  ...  R$ 4.138,03  Padrão
22   45.31  R$ 700.000,00aR$ 799.999,99  ...  R$ 4.405,52  Padrão
23   45.32  R$ 800.000,00aR$ 899.999,99  ...  R$ 4.673,02  Padrão
24   45.33  R$ 900.000,00aR$ 999.999,99  ...  R$ 4.940,53  Padrão
25   45.34      acima deR$ 1.000.000,00  ...  R$ 5.208,08  Padrão

[26 rows x 7 columns]

Nesta linha estamos higienizando, e eliminando todos os valores nulos e estruturamos com o primeiro DataFrame, para a contatenação entre eles.

In [ ]:
df_piauiB.astype(str)

   Código                    Descrição  ...        Valor    Selo
0   45.09    R$ 12.000,00aR$ 14.999,99  ...    R$ 793,98  Padrão
1    45.1    R$ 15.000,00aR$ 17.999,99  ...    R$ 941,15  Padrão
2   45.11    R$ 18.000,00aR$ 20.999,99  ...  R$ 1.088,31  Padrão
3   45.12    R$ 21.000,00aR$ 23.999,99  ...  R$ 1.235,48  Padrão
4   45.13    R$ 24.000,00aR$ 26.999,99  ...  R$ 1.383,53  Padrão
5   45.14    R$ 27.000,00aR$ 29.999,99  ...  R$ 1.529,85  Padrão
6   45.15    R$ 30.000,00aR$ 34.999,99  ...  R$ 1.738,13  Padrão
7   45.16    R$ 35.000,00aR$ 39.999,99  ...  R$ 1.946,38  Padrão
8   45.17    R$ 40.000,00aR$ 44.999,99  ...  R$ 2.154,64  Padrão
9   45.18    R$ 45.000,00aR$ 49.999,99  ...  R$ 2.362,89  Padrão
10  45.19    R$ 50.000,00aR$ 59.999,99  ...  R$ 2.469,86  Padrão
11   45.2    R$ 60.000,00aR$ 69.999,99  ...  R$ 2.576,85  Padrão
12  45.21    R$ 70.000,00aR$ 79.999,99  ...  R$ 2.683,83  Padrão
13  45.22    R$ 80.000,00aR$ 89.999,99  ...  R$ 2.697,45  Padrão
14  45.23    R$ 90.000,00aR$ 99.999,99  ...  R$ 2.711,12  Padrão
15  45.24  R$ 100.000,00aR$ 149.999,99  ...  R$ 2.724,76  Padrão
16  45.25  R$ 150.000,00aR$ 199.999,99  ...  R$ 2.738,42  Padrão
17  45.26  R$ 200.000,00aR$ 299.999,99  ...  R$ 3.067,29  Padrão
18  45.27  R$ 300.000,00aR$ 399.999,99  ...  R$ 3.335,54  Padrão
19  45.28  R$ 400.000,00aR$ 499.999,99  ...  R$ 3.603,04  Padrão
20  45.29  R$ 500.000,00aR$ 599.999,99  ...  R$ 3.870,52  Padrão
21   45.3  R$ 600.000,00aR$ 699.999,99  ...  R$ 4.138,03  Padrão
22  45.31  R$ 700.000,00aR$ 799.999,99  ...  R$ 4.405,52  Padrão
23  45.32  R$ 800.000,00aR$ 899.999,99  ...  R$ 4.673,02  Padrão
24  45.33  R$ 900.000,00aR$ 999.999,99  ...  R$ 4.940,53  Padrão
25  45.34      acima deR$ 1.000.000,00  ...  R$ 5.208,08  Padrão

[26 rows x 7 columns]

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_piaui2 = df_piauiB.join(df_piauiB['Descrição'].str.split(' ', 2, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'valor_final'}))
valor_inicial_temp =df_piaui2['valor_inicial'].str.split('a', expand=True).rename(columns={0:'valor_inicial', 1:'B', 2:'C'})
df_piaui2['valor_inicial'] = valor_inicial_temp
df_piaui2.head()

   Código                  Descrição     Cartório  ...   A valor_inicial valor_final
0   45.09  R$ 12.000,00aR$ 14.999,99    R$ 648,15  ...  R$     12.000,00   14.999,99
1   45.10  R$ 15.000,00aR$ 17.999,99    R$ 768,28  ...  R$     15.000,00   17.999,99
2   45.11  R$ 18.000,00aR$ 20.999,99    R$ 888,42  ...  R$     18.000,00   20.999,99
3   45.12  R$ 21.000,00aR$ 23.999,99  R$ 1.008,56  ...  R$     21.000,00   23.999,99
4   45.13  R$ 24.000,00aR$ 26.999,99  R$ 1.129,41  ...  R$     24.000,00   26.999,99

[5 rows x 10 columns]

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final. Estamos normatizando a coluna apos a linpeza e eliminação de dados que poderiam causar incompatibilidade na aplicação do DataFrame ao banco de dados.

In [ ]:
df_piaui2.rename(columns={'Descrição': 'faixa_valor', 'Valor': 'TOTAL'}, inplace = True)
df_piaui2

    Código                  faixa_valor  ... valor_inicial   valor_final
0    45.09    R$ 12.000,00aR$ 14.999,99  ...     12.000,00     14.999,99
1    45.10    R$ 15.000,00aR$ 17.999,99  ...     15.000,00     17.999,99
2    45.11    R$ 18.000,00aR$ 20.999,99  ...     18.000,00     20.999,99
3    45.12    R$ 21.000,00aR$ 23.999,99  ...     21.000,00     23.999,99
4    45.13    R$ 24.000,00aR$ 26.999,99  ...     24.000,00     26.999,99
5    45.14    R$ 27.000,00aR$ 29.999,99  ...     27.000,00     29.999,99
6    45.15    R$ 30.000,00aR$ 34.999,99  ...     30.000,00     34.999,99
7    45.16    R$ 35.000,00aR$ 39.999,99  ...     35.000,00     39.999,99
8    45.17    R$ 40.000,00aR$ 44.999,99  ...     40.000,00     44.999,99
9    45.18    R$ 45.000,00aR$ 49.999,99  ...     45.000,00     49.999,99
10   45.19    R$ 50.000,00aR$ 59.999,99  ...     50.000,00     59.999,99
11   45.20    R$ 60.000,00aR$ 69.999,99  ...     60.000,00     69.999,99
12   45.21    R$ 70.000,00aR$ 79.999,99  ...     70.000,00     79.999,99
13   45.22    R$ 80.000,00aR$ 89.999,99  ...     80.000,00     89.999,99
14   45.23    R$ 90.000,00aR$ 99.999,99  ...     90.000,00     99.999,99
15   45.24  R$ 100.000,00aR$ 149.999,99  ...    100.000,00    149.999,99
16   45.25  R$ 150.000,00aR$ 199.999,99  ...    150.000,00    199.999,99
17   45.26  R$ 200.000,00aR$ 299.999,99  ...    200.000,00    299.999,99
18   45.27  R$ 300.000,00aR$ 399.999,99  ...    300.000,00    399.999,99
19   45.28  R$ 400.000,00aR$ 499.999,99  ...    400.000,00    499.999,99
20   45.29  R$ 500.000,00aR$ 599.999,99  ...    500.000,00    599.999,99
21   45.30  R$ 600.000,00aR$ 699.999,99  ...    600.000,00    699.999,99
22   45.31  R$ 700.000,00aR$ 799.999,99  ...    700.000,00    799.999,99
23   45.32  R$ 800.000,00aR$ 899.999,99  ...    800.000,00    899.999,99
24   45.33  R$ 900.000,00aR$ 999.999,99  ...    900.000,00    999.999,99
25   45.34      acima deR$ 1.000.000,00  ...          deR$  1.000.000,00

[26 rows x 10 columns]

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_piaui2B = df_piaui2[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_piaui2B['UF'] = 'PI'
df_piaui2B

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    faixa_valor valor_inicial   valor_final        TOTAL  UF
0     R$ 12.000,00aR$ 14.999,99     12.000,00     14.999,99    R$ 793,98  PI
1     R$ 15.000,00aR$ 17.999,99     15.000,00     17.999,99    R$ 941,15  PI
2     R$ 18.000,00aR$ 20.999,99     18.000,00     20.999,99  R$ 1.088,31  PI
3     R$ 21.000,00aR$ 23.999,99     21.000,00     23.999,99  R$ 1.235,48  PI
4     R$ 24.000,00aR$ 26.999,99     24.000,00     26.999,99  R$ 1.383,53  PI
5     R$ 27.000,00aR$ 29.999,99     27.000,00     29.999,99  R$ 1.529,85  PI
6     R$ 30.000,00aR$ 34.999,99     30.000,00     34.999,99  R$ 1.738,13  PI
7     R$ 35.000,00aR$ 39.999,99     35.000,00     39.999,99  R$ 1.946,38  PI
8     R$ 40.000,00aR$ 44.999,99     40.000,00     44.999,99  R$ 2.154,64  PI
9     R$ 45.000,00aR$ 49.999,99     45.000,00     49.999,99  R$ 2.362,89  PI
10    R$ 50.000,00aR$ 59.999,99     50.000,00     59.999,99  R$ 2.469,86  PI
11    R$ 60.000,00aR$ 69.999,99     60.000,00     69.999,99  R$ 2.576,85  PI
12    R$ 70.000,00aR$ 79.999,99     70.000,00     79.999,99  R$ 2.683,83  PI
13    R$ 80.000,00aR$ 89.999,99     80.000,00     89.999,99  R$ 2.697,45  PI
14    R$ 90.000,00aR$ 99.999,99     90.000,00     99.999,99  R$ 2.711,12  PI
15  R$ 100.000,00aR$ 149.999,99    100.000,00    149.999,99  R$ 2.724,76  PI
16  R$ 150.000,00aR$ 199.999,99    150.000,00    199.999,99  R$ 2.738,42  PI
17  R$ 200.000,00aR$ 299.999,99    200.000,00    299.999,99  R$ 3.067,29  PI
18  R$ 300.000,00aR$ 399.999,99    300.000,00    399.999,99  R$ 3.335,54  PI
19  R$ 400.000,00aR$ 499.999,99    400.000,00    499.999,99  R$ 3.603,04  PI
20  R$ 500.000,00aR$ 599.999,99    500.000,00    599.999,99  R$ 3.870,52  PI
21  R$ 600.000,00aR$ 699.999,99    600.000,00    699.999,99  R$ 4.138,03  PI
22  R$ 700.000,00aR$ 799.999,99    700.000,00    799.999,99  R$ 4.405,52  PI
23  R$ 800.000,00aR$ 899.999,99    800.000,00    899.999,99  R$ 4.673,02  PI
24  R$ 900.000,00aR$ 999.999,99    900.000,00    999.999,99  R$ 4.940,53  PI
25      acima deR$ 1.000.000,00          deR$  1.000.000,00  R$ 5.208,08  PI

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente

In [ ]:
df_piaui2B['valor_inicial'].replace(
    to_replace=['deR$'],
    value='1.000.000,00',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
df_piaui2B['valor_final'].replace(
    to_replace=['1.000.000,00'],
    value='9.999.999,99',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
df_piaui2B.head(50)

                    faixa_valor valor_inicial   valor_final      TOTAL  UF
0     R$ 12.000,00aR$ 14.999,99     12.000,00     14.999,99     793,98  PI
1     R$ 15.000,00aR$ 17.999,99     15.000,00     17.999,99     941,15  PI
2     R$ 18.000,00aR$ 20.999,99     18.000,00     20.999,99   1.088,31  PI
3     R$ 21.000,00aR$ 23.999,99     21.000,00     23.999,99   1.235,48  PI
4     R$ 24.000,00aR$ 26.999,99     24.000,00     26.999,99   1.383,53  PI
5     R$ 27.000,00aR$ 29.999,99     27.000,00     29.999,99   1.529,85  PI
6     R$ 30.000,00aR$ 34.999,99     30.000,00     34.999,99   1.738,13  PI
7     R$ 35.000,00aR$ 39.999,99     35.000,00     39.999,99   1.946,38  PI
8     R$ 40.000,00aR$ 44.999,99     40.000,00     44.999,99   2.154,64  PI
9     R$ 45.000,00aR$ 49.999,99     45.000,00     49.999,99   2.362,89  PI
10    R$ 50.000,00aR$ 59.999,99     50.000,00     59.999,99   2.469,86  PI
11    R$ 60.000,00aR$ 69.999,99     60.000,00     69.999,99   2.576,85  PI
12    R$ 70.000,00aR$ 79.999,99     70.000,00     79.999,99   2.683,83  PI
13    R$ 80.000,00aR$ 89.999,99     80.000,00     89.999,99   2.697,45  PI
14    R$ 90.000,00aR$ 99.999,99     90.000,00     99.999,99   2.711,12  PI
15  R$ 100.000,00aR$ 149.999,99    100.000,00    149.999,99   2.724,76  PI
16  R$ 150.000,00aR$ 199.999,99    150.000,00    199.999,99   2.738,42  PI
17  R$ 200.000,00aR$ 299.999,99    200.000,00    299.999,99   3.067,29  PI
18  R$ 300.000,00aR$ 399.999,99    300.000,00    399.999,99   3.335,54  PI
19  R$ 400.000,00aR$ 499.999,99    400.000,00    499.999,99   3.603,04  PI
20  R$ 500.000,00aR$ 599.999,99    500.000,00    599.999,99   3.870,52  PI
21  R$ 600.000,00aR$ 699.999,99    600.000,00    699.999,99   4.138,03  PI
22  R$ 700.000,00aR$ 799.999,99    700.000,00    799.999,99   4.405,52  PI
23  R$ 800.000,00aR$ 899.999,99    800.000,00    899.999,99   4.673,02  PI
24  R$ 900.000,00aR$ 999.999,99    900.000,00    999.999,99   4.940,53  PI
25      acima deR$ 1.000.000,00  1.000.000,00  9.999.999,99   5.208,08  PI

In [ ]:
df_piaui2B["TOTAL"] = df_piaui2B["TOTAL"].str.replace('R', '').str.replace('$', '').str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_piaui2B["valor_inicial"] = df_piaui2B["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)
df_piaui2B["valor_final"] = df_piaui2B["valor_final"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
piaui_result = pd.concat([df_piaui1A , df_piaui2B], axis=0 , sort=False)
piaui_result

                    faixa_valor  valor_inicial  valor_final  TOTAL  UF
1             R$ 0,01aR$ 999,99              0          999    294  PI
2       R$ 1.000,00aR$ 1.999,99           1000         1999    329  PI
3       R$ 2.000,00aR$ 2.999,99           2000         2999    365  PI
4       R$ 3.000,00aR$ 3.999,99           3000         3999    400  PI
5       R$ 4.000,00aR$ 4.999,99           4000         4999    435  PI
6       R$ 5.000,00aR$ 6.999,99           5000         6999    505  PI
7       R$ 7.000,00aR$ 8.999,99           7000         8999    576  PI
8      R$ 9.000,00aR$ 11.999,99           9000        11999    646  PI
0     R$ 12.000,00aR$ 14.999,99          12000        14999    793  PI
1     R$ 15.000,00aR$ 17.999,99          15000        17999    941  PI
2     R$ 18.000,00aR$ 20.999,99          18000        20999   1088  PI
3     R$ 21.000,00aR$ 23.999,99          21000        23999   1235  PI
4     R$ 24.000,00aR$ 26.999,99          24000        26999   1383  PI
5     R$ 27.000,00aR$ 29.999,99          27000        29999   1529  PI
6     R$ 30.000,00aR$ 34.999,99          30000        34999   1738  PI
7     R$ 35.000,00aR$ 39.999,99          35000        39999   1946  PI
8     R$ 40.000,00aR$ 44.999,99          40000        44999   2154  PI
9     R$ 45.000,00aR$ 49.999,99          45000        49999   2362  PI
10    R$ 50.000,00aR$ 59.999,99          50000        59999   2469  PI
11    R$ 60.000,00aR$ 69.999,99          60000        69999   2576  PI
12    R$ 70.000,00aR$ 79.999,99          70000        79999   2683  PI
13    R$ 80.000,00aR$ 89.999,99          80000        89999   2697  PI
14    R$ 90.000,00aR$ 99.999,99          90000        99999   2711  PI
15  R$ 100.000,00aR$ 149.999,99         100000       149999   2724  PI
16  R$ 150.000,00aR$ 199.999,99         150000       199999   2738  PI
17  R$ 200.000,00aR$ 299.999,99         200000       299999   3067  PI
18  R$ 300.000,00aR$ 399.999,99         300000       399999   3335  PI
19  R$ 400.000,00aR$ 499.999,99         400000       499999   3603  PI
20  R$ 500.000,00aR$ 599.999,99         500000       599999   3870  PI
21  R$ 600.000,00aR$ 699.999,99         600000       699999   4138  PI
22  R$ 700.000,00aR$ 799.999,99         700000       799999   4405  PI
23  R$ 800.000,00aR$ 899.999,99         800000       899999   4673  PI
24  R$ 900.000,00aR$ 999.999,99         900000       999999   4940  PI
25      acima deR$ 1.000.000,00        1000000      9999999   5208  PI

Nesta linha estamos concatenando os dois DataFrames estruturados, para a aplicação no banco de dados.

# Concatenação das 3 bases de dados da tabela de precificação.

In [ ]:
emolumentos_final = pd.concat([tables_sp , df_bahia_a , piaui_result ], axis=0 , sort=False)
emolumentos_final

                    faixa_valor  valor_inicial  valor_final  TOTAL  UF
0             de 0.0 até 1095.0              0         1095    256  SP
1         de 1095.01 até 4140.0           1095         4140    383  SP
2         de 4140.01 até 6901.0           4140         6901    598  SP
3        de 6901.01 até 13805.0           6901        13805    854  SP
4       de 13805.01 até 27610.0          13805        27610   1155  SP
..                          ...            ...          ...    ...  ..
21  R$ 600.000,00aR$ 699.999,99         600000       699999   4138  PI
22  R$ 700.000,00aR$ 799.999,99         700000       799999   4405  PI
23  R$ 800.000,00aR$ 899.999,99         800000       899999   4673  PI
24  R$ 900.000,00aR$ 999.999,99         900000       999999   4940  PI
25      acima deR$ 1.000.000,00        1000000      9999999   5208  PI

[87 rows x 5 columns]

Nesta linha estamos gerando o DataFrame dos dados de precificação ja higienizados, estruturados e normatizados para a aplicação e inserção no MongoDB, onde vamos armazenar os dados.

# Estruturação e importação dos datasets para o mongoDB

In [ ]:
!pip install pymongo
!pip install dnspython
!pip install pymongo[srv]
!pip install psycopg2
import pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.10.1)
Requirement already satisfied: dnspython in /usr/local/lib/python3.6/dist-packages (1.16.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.10.1)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in /usr/local/lib/python3.6/dist-packages (from pymongo[srv]) (1.16.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

Nestas linhas estamos instando as blibliotes para o importe dos arquivos ja estruturado para o MongoDB.

In [ ]:
client = pymongo.MongoClient("mongodb+srv://WatsonDB:CNH2020@cnh.uo1qd.gcp.mongodb.net/?retryWrites=true&w=majority")
db = client.cnh
client.server_info()

{'$clusterTime': {'clusterTime': Timestamp(1594331196, 1),
  'signature': {'hash': b'#\x10\x10\xd4u3\xd4\x86\xe1\x11\xc6\xea+\xb6[c\xa0\xa6#\xd8',
   'keyId': 6844590737674207235}},
 'allocator': 'tcmalloc',
 'bits': 64,
 'buildEnvironment': {'cc': '/opt/mongodbtoolchain/v3/bin/gcc: gcc (GCC) 8.2.0',
  'ccflags': '-fno-omit-frame-pointer -fno-strict-aliasing -ggdb -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -Werror -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -fno-builtin-memcmp',
  'cxx': '/opt/mongodbtoolchain/v3/bin/g++: g++ (GCC) 8.2.0',
  'cxxflags': '-Woverloaded-virtual -Wno-maybe-uninitialized -fsized-deallocation -std=c++17',
  'distarch': 'x86_64',
  'distmod': 'rhel70',
  'linkflags': '-pthread -Wl,-z,now -rdynamic -Wl,--fatal-warnings -fstack-protector-strong -fuse-ld=gold -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro -Wl,-rpath,/usr/lib64/perl5/CORE',
  'target_arch': 'x86_64',
  'target_os': 'linux'},
 'debug': False,
 'gitVersion': '43d25964249164d76d5e04dd6cf38f6111e21f5f',
 'javascriptEngine': 'mozjs',
 'maxBsonObjectSize': 16777216,
 'modules': ['enterprise'],
 'ok': 1.0,
 'openssl': {'compiled': 'OpenSSL 1.0.1e-fips 11 Feb 2013',
  'running': 'OpenSSL 1.0.1e-fips 11 Feb 2013'},
 'operationTime': Timestamp(1594331196, 1),
 'storageEngines': ['biggie',
  'devnull',
  'ephemeralForTest',
  'inMemory',
  'queryable_wt',
  'wiredTiger'],
 'sysInfo': 'deprecated',
 'version': '4.2.8',
 'versionArray': [4, 2, 8, 0]}

Nesta linha estamos criando a conexão com o MongoDB, para gerarmos os dataSets e as coleções onde vamos armazenar os dados.

In [ ]:
db = client.DataSets

Estamos criando o DataSets

In [ ]:
db.create_collection('cartorios')

Collection(Database(MongoClient(host=['cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'cartorios')

Nesta linha estamos criando a coleção para os catorios no MongoDB

In [ ]:
cartorios = db['cartorios']
cartorios

Collection(Database(MongoClient(host=['cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'cartorios')

Nesta linha estamos criando o DataFrame catorios e inserindo dentro do MongoDB

In [ ]:
cartorios.find_one({"cep_digito": '6'})

In [ ]:
data = ds2
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cartorios.insert_many(data_dict)

Nesta linha estamos importando o DataFrame do dados dos cartorios para o Datset criado dentro do MongoDB.

In [ ]:
collection = db.cartorios
data = pd.DataFrame(list(collection.find()))
data.head()

                        _id  ...                                       Geocoder
0  5f0790f49b7841719265caa6  ...  Rua Sebastião Bocalon Junior, s/n, Acrelândia
1  5f0790f49b7841719265caa7  ...   Rua Francisco das Chagas, 872 , Assis Brasil
2  5f0790f49b7841719265caa8  ...             Rua Odilon Pratagi, 561, Brasiléia
3  5f0790f49b7841719265caa9  ...   Av. Prefeito Rolando Moreira, 128, Brasiléia
4  5f0790f49b7841719265caaa  ...                  BR 364, KM 28, nº 461, Bujari

[5 rows x 28 columns]

In [ ]:
db.create_collection('emolumentos')

Collection(Database(MongoClient(host=['cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'emolumentos')

Nesta linha estamos criando a coleção para os emolumentos inserindo dentro do MongoDB

In [ ]:
emolumentos = db['emolumentos']
emolumentos

Collection(Database(MongoClient(host=['cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'emolumentos')

Nesta linha estamos criando o DataFrame emolumentos e inserindo dentro do MongoDB

In [ ]:
data_e = emolumentos_final
data_e.reset_index(inplace=True)
data_e_dict = data_e.to_dict("records")
emolumentos.insert_many(data_e_dict)

Nesta linha estamos importando o DataFrame do dados dos emolumenos para o Datset criado dentro do MongoDB.

In [ ]:
collection = db.emolumentos
data_e = pd.DataFrame(list(collection.find()))
data_e.head()

                        _id  index  ... TOTAL  UF
0  5f07ae539b7841719265f2d3      0  ...   256  SP
1  5f07ae539b7841719265f2d4      1  ...   383  SP
2  5f07ae539b7841719265f2d5      2  ...   598  SP
3  5f07ae539b7841719265f2d6      3  ...   854  SP
4  5f07ae539b7841719265f2d7      4  ...  1155  SP

[5 rows x 7 columns]