<a href="https://colab.research.google.com/github/FlaviaCunha/IDVCN3/blob/master/Projeto_Precifica%C3%A7%C3%A3o_CNHI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Coleta e estruturação dos dados de Cartório
*Nesta fase do projeto estamos coletando os dados dos registros de cartórios automaticamente higienizando e estruturando os dados para a produção dos bancos de dados.*

**1.1. Importação das bibliotecas**

In [ ]:
import pandas as pd
import io
from pathlib import Path
import requests
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/8d/ed/20655a47a603430272c995d908d0dd96f93c2aa8973c8a55a66c8f3b8dfe/tabula_py-2.1.1-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.6MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.5)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.1

Nesta linha estamos baixando as blibliotecas que serão necessarias para a aplicação e normatização dos dados.
Pandas para criação dos DataFrame.
tabula-py para fazer a leitura das tabelas dos arquivos em PDF que serão utilizados.
pathlib para oferece classes que representam os caminhos do sistema de arquivos com o Path que instalaré o caminho adequado para a tarefa com a maquina, onde o arquivo esta sendo gerado. A biblioteca requests vamos utiliza-la para a baixa e leitura dos arquivos que vamos importar das paginas web(PDF).
IO, Importando a plataforma SaaS de integração de dados da web (WDI), que permite às pessoas converter dados da web não estruturados em um formato estruturado.

In [ ]:
import json

importamos a bliblioteca para que codificadores e decodificadores deste módulo preservam a ordem de entrada e saída por padrão.

In [ ]:
import numpy as np

Nesta linha importamos a blibliote numpy, para auxiliar a normatização dos ceps que não continham em seu digito inicial o numero 0.

**1.2. Importação da base de dados dos cartorios em CSV.**

In [ ]:
url = "https://portal.mj.gov.br/CartorioInterConsulta/consulta.do?action=baixarCSVTodosCartorios"
s = requests.get(url).content
ds = pd.read_csv(io.StringIO(s.decode('latin-1')),  encoding='utf-8', error_bad_lines=False, sep= ';', index_col=False)
ds.head(3)

   UF                CNPJ  ...       Comarca Entrância
0  AC  04.034.872/0001-21  ...    ACRELÂNDIA  Primeira
1  AC  12.550.310/0001-69  ...    ACRELÂNDIA  Primeira
2  AC  04.034.484/0019-50  ...  ASSIS BRASIL  Primeira

[3 rows x 24 columns]

nesta linha importamos a base de dados não estruturada dos cartorios automaticamente do Site https://portal.mj.gov.br/CartorioInterConsulta/, o DataFrame.

**1.3. Higienização**

In [ ]:
ds.dropna(subset=['CEP'])
ds['cep_digito'] =  ds["CEP"].astype(str).str[:2]
ds["CEP"] = ds["CEP"].fillna(0).astype(int).astype(str)
ds['Geocoder'] = ds["Endereço"] + ', ' + ds["Município"]
ds.head(3)

   UF  ...                                       Geocoder
0  AC  ...  Av. Governador Edmundo Pinto, 581, Acrelândia
1  AC  ...  Rua Sebastião Bocalon Junior, s/n, Acrelândia
2  AC  ...   Rua Francisco das Chagas, 872 , Assis Brasil

[3 rows x 26 columns]

Nesta linha estamos gerando as limpeza dos dados vazios ou nulos, normatização dos dados dos ceps da tabelade inteiros para String, para que possamos manter os valores que começam com o numero 0.
Se os dados estiverem como numeros inteiros os dados que começam em zero tem este primeiro digito eliminado automaticamente.

In [ ]:
conditions = [
    (ds['CEP'].str.len() == 8),
    (ds['CEP'].str.len() == 7)]
choices = [ds['CEP'], '0' + ds['CEP']]
ds['CEP'] = np.select(conditions, choices, default='null')

Nesta linha estamos fazendo a normatização dos dados da coluna cep.

In [ ]:
ds.head(3)

   UF  ...                                       Geocoder
0  AC  ...  Av. Governador Edmundo Pinto, 581, Acrelândia
1  AC  ...  Rua Sebastião Bocalon Junior, s/n, Acrelândia
2  AC  ...   Rua Francisco das Chagas, 872 , Assis Brasil

[3 rows x 26 columns]

In [ ]:
type(ds['CEP'][0])

str

Nesta linha utilizamos para a certificação do tipo de classificação dos dados da coluna cep.

**1.4. Estruturação**

In [ ]:
ds2 = ds[ds['Atribuições'].str.contains('Notas|Registro de Imóveis', na = False)]
ds2.describe()

           UF  ...                                           Geocoder
count   10198  ...                                              10191
unique     27  ...                                               9985
top        MG  ...  Av. Sete de Setembro, 400 - Ed. Fundação Polit...
freq     2037  ...                                                  4

[4 rows x 26 columns]

Nesta linha estamos atribuindo e estrurando a aplicação que crie o DataFrame somente considerando verdadeiro os dados que contenham, como atividade registros de notas e imoveis.

# 2. Criação da api de geolocalização
*Nesta fase do projeto estamos criando o robo que busca os dados de latitude e longitude, como base na biblioteca dos correios.*

**2.1. Importação das bibliotecas**

In [ ]:
!pip install pycep_correios
import pycep_correios
temp_end = ds

Collecting pycep_correios
  Downloading https://files.pythonhosted.org/packages/7e/4f/c5fe52b0edde87c311ebef0274790111f364091bf09a14a0309d22f9ca02/pycep_correios-4.0.3-py2.py3-none-any.whl
Collecting deprecated
  Downloading https://files.pythonhosted.org/packages/76/a1/05d7f62f956d77b23a640efc650f80ce24483aa2f85a09c03fb64f49e879/Deprecated-1.2.10-py2.py3-none-any.whl
Collecting zeep>=2.0.0
  Downloading https://files.pythonhosted.org/packages/5e/7e/31dc5db254f4bd788f03947bae4ee38117789f2d4872a4c11a05b57700db/zeep-3.4.0-py2.py3-none-any.whl (99kB)
     |████████████████████████████████| 102kB 2.7MB/s
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from pycep_correios) (2.23.0)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.6/dist-packages (from deprecated->pycep_correios) (1.12.1)
Collecting cached-property>=1.3.0
  Downloading https://files.pythonhosted.org/packages/3b/86/85c1be2e8db9e13ef9a350aecd6dea292bd612fa288c2f40d035bb750ded/cached_property-1.5.1-py2.py3-none-any.whl
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (4.2.6)
Collecting isodate>=0.5.4
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 5.5MB/s
Requirement already satisfied: attrs>=17.2.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (19.3.0)
Requirement already satisfied: defusedxml>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (0.6.0)
Collecting requests-toolbelt>=0.7.1
  Downloading https://files.pythonhosted.org/packages/60/ef/7681134338fc097acef8d9b2f8abe0458e4d87559c689a8c306d0957ece5/requests_toolbelt-0.9.1-py2.py3-none-any.whl (54kB)
     |████████████████████████████████| 61kB 6.9MB/s
Collecting appdirs>=1.4.0
  Downloading https://files.pythonhosted.org/packages/3b/00/2344469e2084fb287c2e0b57b72910309874c3245463acd6cf5e3db69324/appdirs-1.4.4-py2.py3-none-any.whl
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (1.15.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from zeep>=2.0.0->pycep_correios) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->pycep_correios) (1.24.3)
Installing collected packages: deprecated, cached-property, isodate, requests-toolbelt, appdirs, zeep, pycep-correios
Successfully installed appdirs-1.4.4 cached-property-1.5.1 deprecated-1.2.10 isodate-0.6.0 pycep-correios-4.0.3 requests-toolbelt-0.9.1 zeep-3.4.0

Nesta linhas Consulta de dados de um endereço a partir do CEP
Consulta de intervalo de CEP a partir de um endereço, formatação de CEP,validação de CEP.
https://pycep-correios.readthedocs.io/pt/develop/

In [ ]:
!pip install geopy
from geopy.distance import geodesic

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

Instalado,a biblioteca de geocodificação simples e consistente, lidar com vários fornecedores de geocodificação diferentes. para ser usado posteriormento num serviço de geolocaização.

In [ ]:
from geopy.geocoders import Nominatim

def geocoder(cep):
  cep = str(cep)
  temp_end = pycep_correios.get_address_from_cep(cep)
  address= str(temp_end['logradouro'] + ', ' + temp_end['cidade'])
  geolocator = Nominatim(user_agent="Your_Name")
  location = geolocator.geocode(address)
  temp = list((location.latitude, location.longitude))
  temp = str(temp[0]) + ' , ' + str(temp[1])
  print(temp)
  return(temp)

Localize geograficamente um endereço.
Retorna a latitude e longitude do endereço fornecido usando Serviço Nominatim

In [ ]:
from geopy.distance import geodesic

In [ ]:
geocoder('06764040')

-23.6123966 , -46.7651499

'-23.6123966 , -46.7651499'

Teste para verificar se a função criada esta atendendo a pesquida de latitude e logitude

In [ ]:
prima_flavia = geocoder('06624330')
cep_flavia = geocoder('06767010')
print(prima_flavia, cep_flavia)

print(geodesic(prima_flavia, cep_flavia).km)

-23.546469 , -46.9096449
-23.6248835 , -46.7869559
-23.546469 , -46.9096449 -23.6248835 , -46.7869559
15.24005066590918

Nesta linha estamos testando se a aplicação, faz a comparação entre dois endereços distintos. buscando os dados de latitude e longitude e subraindo para o calculo da distancia entre eles.

**2.2. Latitude e Longitude para estado de São Paulo.**

In [ ]:
ds3 = ds2[ds2['UF'] == 'SP']

Nesta linha estamos criando o DataFrame contendo somente os dados do Estado de São Paulo.

In [ ]:
len(ds3)

1253

Nesta linha estamos consultando o total de registros contidos no DataFrame.

In [ ]:
ds3.head(3)

       UF  ...                                Geocoder
11423  SP  ...         Av. Rio Branco, 458, Adamantina
11424  SP  ...  Rua Euclides da Cunha, 195, Adamantina
11425  SP  ...          Rua Santos Dumont, 657, Adolfo

[3 rows x 26 columns]

Visualização das 3 primiras linhas do DataFrame.

In [ ]:
#ds4 = ##original: tem que ser um ds3 vazio, só o nome das colunas
#ds4 = pd.DataFrame(ds3.columns)
ds4 = pd.DataFrame(columns= ds3.columns)
ds4['LatLong'] = np.nan
ds3['LatLong'] = np.nan

Nesta linha estamos gerando um DataFrame vazio, mantendo as colunas do DataFrame original criando a coluna de que irá armazenar os dados de Latitude e longitude.

In [ ]:
ds4.head()

Empty DataFrame
Columns: [UF, CNPJ, CNS, Data de Instalação, Nome Oficial, Nome Fantasia, Endereço, Bairro, Município, CEP, Nome do Titular, Nome do Substituto, Nome do Juiz, Homepage, Email, Telefone, Fax, Observação, Última Atualização, Horário de Funcionamento, Área de Abrangência, Atribuições, Comarca, Entrância, cep_digito, Geocoder, LatLong]
Index: []

Nesta linha estamos fazendo a verificação do DataFrame vazio criado.

In [ ]:
from contextlib import suppress

ds3_cep = ds4['CEP'].unique()
ds3 = ds3[~ds3.CEP.isin(ds3_cep)]
for x in range(1134, 1253):
  ds3_cep = np.append(ds3_cep, ds3['CEP'].iloc[x])
  print(ds3['CEP'].iloc[x])
  try:
    ds3['LatLong'].iloc[x] = geocoder(ds3['CEP'].iloc[x])
    ds_temp = ds3[ds3['LatLong'].notnull()]
    frames = [ds_temp, ds4]
    ds4 = pd.concat(frames)
    ds4 = ds4.drop_duplicates()
  except (RuntimeError, TypeError, NameError, AttributeError, BaseException):
    ds3_cep = np.append(ds3_cep, ds3['CEP'].iloc[x])
    pass

15380000
-20.5011185 , -51.0246771
08674002

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

-23.5392516 , -46.3099271
08674003
-23.5392516 , -46.3099271
08674011
-23.5519762 , -46.3163668
08673040
-23.5371456 , -46.3172355
15880000
-20.9648397 , -49.0332398
14910000
-21.7373768 , -48.6880522
06763460
-23.6100471 , -46.7548143
19590000
-22.3901284 , -51.2888486
18890000
-23.4534312 , -49.4054454
14725000
-21.143144 , -48.511203
14720000
-21.1238184 , -48.4512476
13710000
-21.70292 , -47.270344
13710000
-21.70292 , -47.270344
15170000
-20.6251635 , -49.6519879
15170000
-20.6251635 , -49.6519879
18180000
-23.9638345 , -47.5067136
13760000
-21.46824 , -46.7493221
15903000
15905000
-21.4029834 , -48.5088549
15900000
15900000
15900000
18740000
-23.5337307 , -49.2452541
18740000
-23.5337307 , -49.2452541
18425000
-23.9257829 , -48.7005328
19210000
-22.3038726 , -51.5628675
19820000
-22.7474736 , -50.5783374
18270170
-23.3530576 , -47.8458568
18270170
-23.3530576 , -47.8458568
18270170
-23.3530576 , -47.8458568
12020250
-22.9384493 , -45.4856959
12043280
12020070
-23.0230624 , -45.55276655
12020070
-23.0230624 , -45.55276655
12020040
-23.0215076 , -45.5519614
12020100
-23.0203409 , -45.5537645
18830000
-23.3437238 , -49.3772468
19280000
-22.5297229 , -52.1688134
19280000
-22.5297229 , -52.1688134
14745000
-20.787015 , -48.331442
18530000
-23.1030302 , -47.7147937
18530000
-23.1030302 , -47.7147937
18860000
-23.2064076 , -49.6045576
18265000
-23.2478026 , -48.1941034
17360000
-22.4302536 , -48.1690653
12120000
-22.95714 , -45.547526
null
15770000
-20.234355 , -50.890528
12930000
-22.819324 , -46.6937627
17620035
-21.9384676 , -50.4955588
17625000
17600410
-21.9313503 , -50.5140065
17600410
-21.9313503 , -50.5140065
17930000
-21.3861914 , -51.5761284
17930000
-21.3861914 , -51.5761284
15280000
-20.9491284 , -50.1082011
15755000
-17.286102 , -42.7312574
15225000
-21.1637674 , -49.7167796
11680000
-23.433162 , -45.083415
11680000
-23.433162 , -45.083415
17440000
-22.5261054 , -49.6635412
15890000
-20.951106 , -49.171295
15250000
-20.8878168 , -49.8986804
15760000
-20.244491 , -50.6450868
15760000
-20.244491 , -50.6450868
16650000
-21.7846064 , -49.2819702
15855000
-21.2027026 , -49.2921996
15850000
-21.2027026 , -49.2921996
15850000
-21.2027026 , -49.2921996
15520000
-20.4226107 , -50.0861511
13270200
-22.9719023 , -46.9972478
13271200
-22.9825234 , -47.0110464
16880000
-33.0458456 , -71.6196749
16880000
-33.0458456 , -71.6196749
16880000
-33.0458456 , -71.6196749
12935000
-22.8902379 , -46.4145366
13880000
-21.832194 , -46.891286
13880000
-21.832194 , -46.891286
06730000
-23.599338 , -47.022038
13220205
-23.2126665 , -46.8470441
13220005
-23.2114589 , -46.8315122
17560000
13280000
13290000
-23.08639 , -46.95056
14740000
-20.8726051 , -48.2968122
14740000
-20.8726051 , -48.2968122
15920000
-21.171293 , -48.6299172
18110090
-23.5423183 , -47.4498371
18110045
-23.5435844 , -47.4545915
15500011
-20.4213629 , -49.975189310917614
15500280
-20.4209246 , -49.9670978
15505185
-20.4226224 , -49.9717652
15500006
-20.4370839 , -49.9709131
15265000
-21.0519444 , -50.0508333
18970000
18970000
18980000
-23.0406405 , -49.7071698
17630000
-21.7741308 , -50.4668814
14813000
-21.8377536 , -48.492853
15313000
-20.7638386 , -50.3427479
18660000
18315000
-24.10114 , -48.367931
15768000
-20.2451795 , -50.6889625
16130000
-20.9354866 , -50.4953504
14765000
-21.07373 , -48.412553
14935000
-22.0410733 , -48.3350302
15713000
-20.1978821 , -50.4847947
17150000
16265000
-21.1671191 , -50.1850393
17455000
-22.3595388 , -49.5209504
12615000
43.5515198 , 7.0134418
17790000
-21.8537103 , -51.0862052
16270000
-21.3814805 , -50.2100452
19645000
47.2186371 , -1.5541362
19380000
-21.8378246 , -51.602158
15108000
-20.657282 , -49.3881146
18255000
-23.299332 , -48.054657
18535000
-23.0843839 , -47.7882279

Nesta linha geramos a construção do Robo que busca a Api de consulta da latitude e longitude dentro dos correios automaticamente com base no DataFrame criado e gera as informações.

In [ ]:
len(ds4)

106

Estamos consultando quantos registros foram atualizados de acordo com a APi.

In [ ]:
spl12 = ds4

Nesta linha estamos gerando um novo DataFrame, somente com os dados que tiverão latitude e longitude localizados.

In [ ]:
#spl1 = ds4[pd.notnull(ds4['LatLong'])] ## Batch 0, 123 - 106
#spl2 = ds4[pd.notnull(ds4['LatLong'])] ## 124, 224 - 91
#spl3 = ds4[pd.notnull(ds4['LatLong'])] ## 225, 325 - 90
#spl4 = ds4[pd.notnull(ds4['LatLong'])] ## 326, 426 - 89
#spl5 = ds4[pd.notnull(ds4['LatLong'])] ## 427, 527 - 90
#spl6 = ds4[pd.notnull(ds4['LatLong'])] ## 528, 628 - 88
#spl7 = ds4[pd.notnull(ds4['LatLong'])] ## 629, 729 - 90
#spl8 = ds4[pd.notnull(ds4['LatLong'])] ## 730, 830 - 85
#spl9 = ds4[pd.notnull(ds4['LatLong'])] ## 831, 931 - 93
#spl10 = ds4[pd.notnull(ds4['LatLong'])] ## 932, 1032 - 91
#spl11 = ds4[pd.notnull(ds4['LatLong'])] ## 1033, 1133 - 92
#spl12 = ds4[pd.notnull(ds4['LatLong'])] ## 1134, 1253- 106

Nesta linhas estamos eliminando todos os dados nulos do registro.

In [ ]:
spl12

       UF  ...                    LatLong
12837  SP  ...  -20.5011185 , -51.0246771
12838  SP  ...  -23.5392516 , -46.3099271
12839  SP  ...  -23.5392516 , -46.3099271
12840  SP  ...  -23.5519762 , -46.3163668
12841  SP  ...  -23.5371456 , -46.3172355
...    ..  ...                        ...
12964  SP  ...    47.2186371 , -1.5541362
12965  SP  ...   -21.8378246 , -51.602158
12966  SP  ...   -20.657282 , -49.3881146
12967  SP  ...    -23.299332 , -48.054657
12968  SP  ...  -23.0843839 , -47.7882279

[106 rows x 27 columns]

Estamos fazendo a Visualização dos dados do DataFrame.

**2.3. Latitude e Longitude para o estado da Bahia.**

In [ ]:
dsba = ds2[ds2['UF'] == 'BA']

Nesta linha estamos criando o DataFrame contendo somente os dados do Estado da Bahia.

In [ ]:
dsba.head(3)

     UF                CNPJ  ... cep_digito                             Geocoder
421  BA  13.100.722/0001-60  ...         46  Pç. Francisco Pereira, 29-A, Abaíra
422  BA  13.100.722/0001-60  ...         46       Tv. José Lourenço, s/n, Abaíra
424  BA  13.100.722/0001-60  ...         48       Rua Cônego Pascoal, s/n, Abaré
425  BA  13.100.722/0001-60  ...         48       Rua Cônego Pascoal, s/n, Abaré
426  BA  13.100.722/0001-60  ...         48       Rua Inácio Rezende, s/n, Abaré

[5 rows x 26 columns]

Visualização das 3 primiras linhas do DataFrame.

In [ ]:
len(dsba)

989

Nesta linhas estamos consultando a quantidade de registro do DataFrame.

In [ ]:
ds5 = pd.DataFrame(columns= dsba.columns)
ds5['LatLong'] = np.nan
dsba['LatLong'] = np.nan

Nesta linha estamos gerando um DataFrame vazio, mantendo as colunas do DataFrame original criando a coluna de que irá armazenar os dados de Latitude e longitude.

In [ ]:
ds5.head()

Empty DataFrame
Columns: [UF, CNPJ, CNS, Data de Instalação, Nome Oficial, Nome Fantasia, Endereço, Bairro, Município, CEP, Nome do Titular, Nome do Substituto, Nome do Juiz, Homepage, Email, Telefone, Fax, Observação, Última Atualização, Horário de Funcionamento, Área de Abrangência, Atribuições, Comarca, Entrância, cep_digito, Geocoder, LatLong]
Index: []

Estamos visualizando o DataFrame vazio.

In [ ]:
from contextlib import suppress

dsba_cep = ds5['CEP'].unique()
dsba = dsba[~dsba.CEP.isin(dsba_cep)]
for x in range(809, 989):
  dsba_cep = np.append(dsba_cep, dsba['CEP'].iloc[x])
  print(dsba['CEP'].iloc[x])
  try:
    dsba['LatLong'].iloc[x] = geocoder(dsba['CEP'].iloc[x])
    ds_temp = dsba[dsba['LatLong'].notnull()]
    frames = [ds_temp, ds5]
    ds5 = pd.concat(frames)
    ds5 = ds5.drop_duplicates()
  except (RuntimeError, TypeError, NameError, AttributeError, BaseException):
    dsba_cep = np.append(dsba_cep, dsba['CEP'].iloc[x])
    pass

48880000
-11.2505314 , -39.3746617
48880000

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

-11.2505314 , -39.3746617
45865000
-19.7702097 , -43.8505291
45865000
-19.7702097 , -43.8505291
47640000
-13.3901477 , -44.2013167
47640000
-13.3901477 , -44.2013167
47645000
-13.3901477 , -44.2013167
47640000
-13.3901477 , -44.2013167
47700000
-12.979217 , -44.05064
47700000
-12.979217 , -44.05064
47710000
-12.979217 , -44.05064
44260000
-12.0243828 , -38.8650365
44265000
-12.0243828 , -38.8650365
47150000
-11.0013969 , -44.5209684
47150000
-11.0013969 , -44.5209684
47150000
-11.0013969 , -44.5209684
44590000
-7.0849073 , -37.4433667
44590000
-7.0849073 , -37.4433667
44200000
-12.5519686 , -38.7060448
44200000
-12.5519686 , -38.7060448
44218000
-12.5519686 , -38.7060448
44215000
-12.5519686 , -38.7060448
44570000
44570000
44570000
44570000
44190000
-12.4340621 , -39.2556115
44190000
-12.4340621 , -39.2556115
47820000
-12.357196 , -44.976881
47820000
-12.357196 , -44.976881
47820000
-12.357196 , -44.976881
48895000
-11.4636112 , -39.526527
48895000
-11.4636112 , -39.526527
44360000
-12.6069891 , -38.9695574
44360000
-12.6069891 , -38.9695574
44550000
-12.8413439 , -39.0942048
44550000
-12.8413439 , -39.0942048
43900000
-12.628108 , -38.6811326
43900000
-12.628108 , -38.6811326
43900000
-12.628108 , -38.6811326
43900000
-12.628108 , -38.6811326
44915000
-30.334214 , -54.3227149
44330000
-12.4339991 , -38.9488082
44330000
-12.4339991 , -38.9488082
44338000
-12.4339991 , -38.9488082
44330000
-12.4339991 , -38.9488082
45620970
44698000
-11.5040358 , -40.025658
44698000
-11.5040358 , -40.025658
44580000
-13.047749 , -39.4554608
43850000
-12.5177926 , -38.4921566
43850000
-12.5177926 , -38.4921566
44530000
-12.7294438 , -39.1862263
44530000
-12.7294438 , -39.1862263
44530000
-12.7294438 , -39.1862263
48485000
-11.6033746 , -38.581456
48485000
-11.6033746 , -38.581456
44220000
-12.7372926 , -38.7662996
44740000
-10.9414907 , -40.4205842
44740000
-10.9414907 , -40.4205842
46900000
-12.4172071 , -41.772051
46900000
-12.4172071 , -41.772051
46450000
-14.571002 , -42.943438
46455000
-14.571002 , -42.943438
48970000
-10.4602509 , -40.189151
48970000
-10.4602509 , -40.189151
48970000
-10.4602509 , -40.189151
48970000
-10.4602509 , -40.189151
48970000
-10.4602509 , -40.189151
48980000
-10.4602509 , -40.189151
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47350000
-9.7406436 , -41.8830056
47740000
-12.758418 , -43.9500907
47740000
-12.758418 , -43.9500907
47740000
-12.758418 , -43.9500907
44660000
-12.1589615 , -39.3320929
44660000
-12.1589615 , -39.3320929
48700000
-11.66199 , -39.0034021
48700000
-11.66199 , -39.0034021
48705000
-11.5338665 , -39.0802106
44710000
-11.4200011 , -40.2974938
43700000
-12.7867839 , -38.4030365
43700000
-12.7867839 , -38.4030365
47610000
-13.0843136 , -43.4686989
48550000
46990000
-12.0878456 , -41.6495346
46990000
-12.0878456 , -41.6495346
47760000
-12.7020751 , -44.0091066
47760000
-12.7020751 , -44.0091066
46605000
-14.019662 , -41.247271
46600000
-14.019662 , -41.247271
46660000
-13.6269662 , -41.3278287
46530000
-12.8184859 , -42.7270883
46580000
-13.5474243 , -42.4907587
44160000
-11.9747061 , -39.1057638
45430000
-13.537334 , -39.0986475
45430000
-13.537334 , -39.0986475
44840000
-11.8447604 , -40.7970527
45995000
45995000
44285000
-22.5297229 , -52.1688134
44283000
-22.5297229 , -52.1688134
44280000
-22.5297229 , -52.1688134
44280000
-22.5297229 , -52.1688134
48770000
-11.4891658 , -38.9997411
48770000
-11.4891658 , -38.9997411
45465000
-13.603575 , -39.4927143
44270000
-12.4069929 , -38.6191596
44270000
-12.4069929 , -38.6191596
44270000
-12.4069929 , -38.6191596
44270000
-12.4069929 , -38.6191596
45170000
-14.9772387 , -41.4110979
45170000
-14.9772387 , -41.4110979
45170000
-14.9772387 , -41.4110979
48790000
-10.963517 , -38.785957
48790000
-10.963517 , -38.785957
48950000
-9.8384079 , -39.4793914
48950000
-9.8384079 , -39.4793914
45310000
-13.2616682 , -39.6612866
45310000
-13.2616682 , -39.6612866
45313000
-13.2616682 , -39.6612866
45310000
-13.2616682 , -39.6612866
45545000
-14.3117771 , -39.3226605
45545000
-14.3117771 , -39.3226605
45550000
-14.212002 , -39.5245924
45550000
-14.212002 , -39.5245924
44955000
-11.3349074 , -42.1305245
44950000
-11.3349074 , -42.1305245
44978000
44795000
-10.51055 , -40.320031
45690000
40.2231089 , -1.977556
45690000
40.2231089 , -1.977556
46350000
-14.7680766 , -42.6573988
46350000
-14.7680766 , -42.6573988
45680000
-14.5913092 , -39.2862094
45680000
-14.5913092 , -39.2862094
46810000
-12.0781018 , -41.090787
46810000
-12.0781018 , -41.090787
46810000
-12.0781018 , -41.090787
45400000
44.9332277 , 4.8920811
45400000
44.9332277 , 4.8920811
45400000
44.9332277 , 4.8920811
45412000
44.9332277 , 4.8920811
45400000
44.9332277 , 4.8920811
48890000
-11.4127335 , -39.4627304
48890000
-11.4127335 , -39.4627304
44715000
-11.5283388 , -40.318907
44565000
-12.9755592 , -39.3943596
44515000
44470000
-22.2212638 , -49.8243021
44478000
-22.2212638 , -49.8243021
44475000
-22.2212638 , -49.8243021
44470000
-22.2212638 , -49.8243021
45985000
45020090
45020070
45020070
45020906
45020070
45110000
-14.8567487 , -40.8414804
45115000
-14.8567487 , -40.8414804
45000000
46970000
-12.2818593 , -41.1686734
45460000
-13.6866356 , -39.479122
45460000
-13.6866356 , -39.479122
47400000
-10.8217193 , -42.7265689
47400000
-10.8217193 , -42.7265689
47400000
-10.8217193 , -42.7265689
47410000
-10.8217193 , -42.7265689
44700000
-11.1851561 , -40.5112434
44730000
40.860672 , 14.843984
46180000
-13.419162 , -42.1381486
46445000
-14.298524 , -43.772349
48925000
-29.4131826 , -53.0256794
48925000
-29.4131826 , -53.0256794

Nesta linha geramos a construção do Robo que busca a Api de consulta da latitude e longitude dentro dos correios automaticamente com base no DataFrame criado e gera as informações.

In [ ]:
len(ds5)

94

Consultando o total de registros atulizados.

In [ ]:
ba9 = ds5

Gerando um novo DataFrame com os dados atualizados

In [ ]:
#ba1 = ds5[pd.notnull(ds5['LatLong'])] ## Batch 0, 100 - 94
#ba2 = ds5[pd.notnull(ds5['LatLong'])] ## 101, 201 - 90
#ba3 = ds5[pd.notnull(ds5['LatLong'])] ## 202, 302 - 89
#ba4 = ds5[pd.notnull(ds5['LatLong'])] ## 303, 403 - 93
#ba5 = ds5[pd.notnull(ds5['LatLong'])] ## 404, 504 - 89
#ba6 = ds5[pd.notnull(ds5['LatLong'])] ## 505, 605 - 86
#ba7 = ds5[pd.notnull(ds5['LatLong'])] ## 606, 706 - 87
#ba8 = ds5[pd.notnull(ds5['LatLong'])] ## 707, 807 - 87
#ba9 = ds5[pd.notnull(ds5['LatLong'])] ## 808, 908 - 94

Nesta linhas estamos excluido os itens nulos dos novos DataFrame.

In [ ]:
ba9

      UF  ...                    LatLong
1540  BA  ...  -11.2505314 , -39.3746617
1541  BA  ...  -11.2505314 , -39.3746617
1542  BA  ...  -11.2505314 , -39.3746617
1544  BA  ...  -19.7702097 , -43.8505291
1545  BA  ...  -19.7702097 , -43.8505291
...   ..  ...                        ...
1683  BA  ...    -14.019662 , -41.247271
1684  BA  ...    -14.019662 , -41.247271
1685  BA  ...  -13.6269662 , -41.3278287
1687  BA  ...  -12.8184859 , -42.7270883
1688  BA  ...  -13.5474243 , -42.4907587

[94 rows x 27 columns]

Visualização do DataFrame.

**2.4. Latitude e Logitude para o estado do Piauí.**

In [ ]:
dspi = ds2[ds2['UF'] == 'PI']

Nesta linha estamos gerando um novo DataFrame.

In [ ]:
dspi.head(3)

Consultando as 3 primeiras linhas do DataFrame.

In [ ]:
len(dspi)

149

Verificando o total de registros contidos no DataFrame.

In [ ]:
ds6 = pd.DataFrame(columns= dspi.columns)
ds6['LatLong'] = np.nan
dspi['LatLong'] = np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Nesta linha estamos gerando um DataFrame vazio, mantendo as colunas do DataFrame original criando a coluna de que irá armazenar os dados de Latitude e longitude.

In [ ]:
ds6.head()

Empty DataFrame
Columns: [UF, CNPJ, CNS, Data de Instalação, Nome Oficial, Nome Fantasia, Endereço, Bairro, Município, CEP, Nome do Titular, Nome do Substituto, Nome do Juiz, Homepage, Email, Telefone, Fax, Observação, Última Atualização, Horário de Funcionamento, Área de Abrangência, Atribuições, Comarca, Entrância, cep_digito, Geocoder, LatLong]
Index: []

Visualização do DataFrame vazio.

In [ ]:
from contextlib import suppress

dspi_cep = ds6['CEP'].unique()
dspi = dspi[~dspi.CEP.isin(dspi_cep)]
for x in range(0, 149):
  dspi_cep = np.append(dspi_cep, dspi['CEP'].iloc[x])
  print(dspi['CEP'].iloc[x])
  try:
    dspi['LatLong'].iloc[x] = geocoder(dspi['CEP'].iloc[x])
    ds_temp = dspi[dspi['LatLong'].notnull()]
    frames = [ds_temp, ds6]
    ds6 = pd.concat(frames)
    ds6 = ds6.drop_duplicates()
  except (RuntimeError, TypeError, NameError, AttributeError, BaseException):
    dspi_cep = np.append(dspi_cep, dspi['CEP'].iloc[x])
    pass

64400000
41.2699316 , -8.0804563
64460000

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

-5.8913922 , -42.6361148
64655000
-7.0090952 , -40.939675
64360000
-5.2549051 , -42.2072388
64290000
-5.0393915 , -42.4611694
64290000
-5.0393915 , -42.4611694
64400000
41.2699316 , -8.0804563
64410000
-6.0872666 , -42.7366138
64780000
-9.185643 , -43.04941
64855000
-7.2186016 , -44.1950248
64310000
-6.1108814 , -41.7886137
64480000
-6.6541632 , -42.5335332
64965000
-10.1346855 , -43.9489525
64100000
44.1047034 , 6.1142911
64990000
-9.9224524 , -45.4763776
64455000
-5.8180139 , -42.5106589
64190000
-9.6733809 , -37.1265481
64380000
-5.4565671 , -42.3605061
64870000
-7.6372159 , -43.9540611
64870000
-7.6372159 , -43.9540611
64630000
-22.1421831 , -48.522276
64900000
-28.6692723 , -50.4346894
64900000
-28.6692723 , -50.4346894
64230000
-3.1776723 , -41.8707444
64730000
-7.6593687 , -41.8814875
64280000
-4.8339574 , -42.1739786
64890000
-8.1112473 , -42.944844
64270000
-4.4584198 , -41.9415301
64795000
-9.2804898 , -43.3284924
64340000
-5.3230426 , -41.5546185
64340000
-5.3230426 , -41.5546185
64235000
-3.4691882 , -41.555851
64740000
-7.8774025 , -41.5961417
64980000
-10.4401356 , -45.1627472
64995000
-10.6525894 , -45.1847405
64920000
-8.8163934 , -44.2211062
64960000
-10.0349005 , -44.3033114
64390000
-5.3640643 , -42.673993
64620000
-6.9644926 , -41.648155
64250000
-4.2544732 , -41.2722903
64790000
-9.0009167 , -41.974038
64325000
-6.2032654 , -42.1376937
64325000
-6.2032654 , -42.1376937
64880000
-8.0984137 , -43.6637067
64180000
-5.3658232 , -48.5368181
64815000
-7.7945002 , -42.9262287
64800000
64800000
64800000
64520000
-6.3962771 , -42.2635654
64475000
-6.6217571 , -42.6941944
64645000
-6.9944754 , -41.1345548
64690000
-7.088607 , -40.6147253
64930000
-9.8295491 , -45.3389933
64840000
16.2490067 , -61.5650444
64470000
-5.989919 , -42.5593218
64535000
-6.6694502 , -41.7096008
64540000
-6.8240832 , -41.7377279
64570000
-7.7359201 , -41.6765311
64565000
-7.4477036 , -41.4802946
64820000
-7.5991089 , -43.0278778
64575000
-7.3584791 , -41.1446059
64575000
-7.3584791 , -41.1446059
64830000
-7.0880338 , -43.5078454
64170000
-3.5083129 , -42.1925425
64110000
-4.7578357 , -42.5763777
64110000
-4.7578357 , -42.5763777
64850000
-7.2609081 , -43.9311019
64850000
-7.2609081 , -43.9311019
64220000
-2.8818164 , -41.6658458
64160000
-3.4648887 , -42.3689528
64685000
-7.4457162 , -40.6622862
64685000
-7.4457162 , -40.6622862
64845000
-7.1216428 , -43.8892251
64150000
-3.7150636 , -42.5547925
64130000
-4.1730384 , -42.8955677
64445000
-5.681461 , -42.7371703
64450000
-5.5609098 , -42.6127716
64650000
-6.9972682 , -41.029733
64940000
-9.7483373 , -45.3048117
64825000
-6.9709737 , -42.6707675
64140000
-3.9792637 , -42.6216791
64530000
-6.4504258 , -41.9219571
64000500
64500000
38.7124971 , -9.271300382407272
64500000
38.7124971 , -9.271300382407272
64680000
-7.3534527 , -40.9063953
64680000
-7.3534527 , -40.9063953
64710000
-7.7781616 , -42.2552274
64710000
-7.7781616 , -42.2552274
64925000
-8.7252097 , -44.2355232
64420000
-5.9761427 , -43.0637158
64970000
-10.2240273 , -44.6374373
64200070
64200200
-2.9015505 , -41.7794517
64200340
-2.9044004 , -41.7794236
64750000
-8.1389174 , -41.1380533
64750000
-8.1389174 , -41.1380533
64255000
-4.425845 , -41.448184
64255000
-4.425845 , -41.448184
64600000
64600000
64600000
64600000
64320000
-6.2366098 , -41.4192948
64660000
-6.8351921 , -40.6148654
64660000
-6.8351921 , -40.6148654
64240000
-3.9304804 , -41.7150099
64240000
-3.9304804 , -41.7150099
64260000
-4.2732339 , -41.7785173
64145000
41.1494512 , -8.6107884
64370000
-5.6692702 , -42.2067899
64915000
-9.4862001 , -44.5840178
64490000
-6.2316966 , -42.6871407
64490000
-6.2316966 , -42.6871407
64865000
-7.5603126 , -45.2417148
64835000
-7.7767595 , -43.140007
64545000
-7.1827307 , -41.7657024
64945000
-9.1176912 , -45.9199551
64910000
20.3462059 , -97.8185028
64640000
-6.9831426 , -41.2283884
64560000
-7.4224725 , -41.9146001
64375000
-5.9324414 , -42.1119867
64435000
-5.9970067 , -42.7041762
64350000
40.7819368 , -8.2428298
64760000
-8.3601426 , -42.2487642
64760000
-8.3601426 , -42.2487642
64555000
-7.4938166 , -42.5661301
64625000
-6.8725567 , -41.4772864
64670000
-7.0834413 , -40.8362405
64330000
-5.5015262 , -41.3214276
64430000
-5.923768 , -42.7195114
64770000
-9.0150522 , -42.6886909
64585000
-7.5970469 , -40.8176003
64700000
-7.860528 , -41.9081183
64700000
-7.860528 , -41.9081183
64720000
-7.8631876 , -42.4994689
64000200
-5.0899303 , -42.8193781
64000190
-5.1200144 , -42.7998678
64000200
-5.0899303 , -42.8193781
64000120
-5.0885696 , -42.8132671
64001130
-5.0994944 , -42.8103796
64001060
-5.092656 , -42.8155746
64120000
-4.5892553 , -42.8593348
64860000
-7.2363099 , -44.555387
64300000
-6.4048149 , -41.7382812
64525000
-15.645816 , -56.132218
64785000
-9.3413101 , -42.4362055
64550000
-7.2460489 , -42.5414016

Nesta linha geramos a construção do Robo que busca a Api de consulta da latitude e longitude dentro dos correios automaticamente com base no DataFrame criado e gera as informações.

In [ ]:
len(ds6)

140

Verificando a quantidade de registros atualizados.

In [ ]:
pi1 = ds6

Gerando um novo DataFrame com os dados atualizados.

In [ ]:
pi1 = ds6[pd.notnull(ds6['LatLong'])] ## 0, 149 - 140

Nesta linha estamos eliminando os dados nulos.

In [ ]:
pi1

      UF  ...                   LatLong
8055  PI  ...   41.2699316 , -8.0804563
8056  PI  ...  -5.8913922 , -42.6361148
8057  PI  ...   -7.0090952 , -40.939675
8058  PI  ...  -5.2549051 , -42.2072388
8059  PI  ...  -5.0393915 , -42.4611694
...   ..  ...                       ...
8210  PI  ...   -7.2363099 , -44.555387
8211  PI  ...  -6.4048149 , -41.7382812
8212  PI  ...   -15.645816 , -56.132218
8213  PI  ...  -9.3413101 , -42.4362055
8214  PI  ...  -7.2460489 , -42.5414016

[140 rows x 27 columns]

Nesta linha estamo gerando a vizualização dos registros atualizados.

# 3. Coleta e estruturação dos dados de precificação do Estado de São Paulo
*Neste projeto estamos trabalhando com os dados de forma mais abrangente como se os dados esportados, fossem uma tabela de cobrança unica Estadual.*

**3.1.Importando os dados de precificação em Excel.**

In [ ]:
filename = Path('temp_excel_tabela_sem.iss_sp_.xlsx')
url = 'https://www.cnbsp.org.br/__Documentos/Upload_Conteudo/arquivos/Tabela_Custas/tabela_2020_versao_editavel__iss_capital_excel_.xlsx'
response = requests.get(url)
filename.write_bytes(response.content)

29010

Importando a base de dados da precificação para São Paulo Capital do Site https://www.cnbsp.org.br/index.php?pG=X190YWJlbGFzX2Vtb2x1bWVudG9z, não estrutarada e gerando o DataFrame.

**3.2. Estruturação dos dados de precificação.**

In [ ]:
tables = pd.read_excel("temp_excel_tabela_sem.iss_sp_.xlsx",skiprows=4)

Nesta linha gerando a lista do arquivo xlsx, que coletamos atraves do endereço.

In [ ]:
tables = tables.head(32)

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.

In [ ]:
tables.head(5)

  Unnamed: 0 Unnamed: 1  Unnamed: 2  ... Trib. Just.  Sta. Casa    TOTAL
0          a         de        0.00  ...       10.48       1.53   256.48
1          b         de     1095.01  ...       15.66       2.28   383.28
2          c         de     4140.01  ...       24.46       3.56   598.46
3          d         de     6901.01  ...       34.94       5.09   854.94
4          e         de    13805.01  ...       47.23       6.88  1155.61

[5 rows x 14 columns]

Visualização do DataFrame.

**3.3.Higienização dos dados.**

In [ ]:
tables['faixa_valor']=tables[['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']].astype(str).agg(' ' .join,axis=1)

In [ ]:
tables.head(32)

   Unnamed: 0 Unnamed: 1  ...    TOTAL                    faixa_valor
0           a         de  ...   256.48              de 0.0 até 1095.0
1           b         de  ...   383.28          de 1095.01 até 4140.0
2           c         de  ...   598.46          de 4140.01 até 6901.0
3           d         de  ...   854.94         de 6901.01 até 13805.0
4           e         de  ...  1155.61        de 13805.01 até 27610.0
5           f         de  ...  1370.86        de 27610.01 até 55220.0
6           g         de  ...  1627.35        de 55220.01 até 82830.0
7           h         de  ...  1928.02       de 82830.01 até 110440.0
8           i         de  ...  2184.57      de 110440.01 até 138050.0
9           j         de  ...  2443.97      de 138050.01 até 165660.0
10          k         de  ...  2741.74      de 165660.01 até 193270.0
11          l         de  ...  3001.19      de 193270.01 até 220880.0
12          m         de  ...  3301.88      de 220880.01 até 237255.0
13          n         de  ...  3514.15      de 237255.01 até 276100.0
14          o         de  ...  3900.33      de 276100.01 até 552200.0
15          p         de  ...  4330.77      de 552200.01 até 828300.0
16          q         de  ...  4802.47     de 828300.01 até 1104400.0
17          r         de  ...   5306.6    de 1104400.01 até 1685249.0
18          s         de  ...   7370.3    de 1685249.01 até 2808749.0
19          t         de  ...  9581.35    de 2808749.01 até 4213123.0
20          u         de  ...  11792.5    de 4213123.01 até 5617497.0
21          v         de  ...  14003.5    de 5617497.01 até 7021872.0
22          w         de  ...  16214.6    de 7021872.01 até 8426246.0
23          x         de  ...  18425.7    de 8426246.01 até 9830621.0
24          y         de  ...  20636.7   de 9830621.01 até 11234995.0
25          z         de  ...  22847.8  de 11234995.01 até 12639369.0
26         z1         de  ...    25059  de 12639369.01 até 14043744.0
27         z2         de  ...  29481.1  de 14043744.01 até 16852492.0
28         z3         de  ...  33903.3  de 16852492.01 até 19661241.0
29         z4         de  ...  38325.4  de 19661241.01 até 22469990.0
30         z5         de  ...  42747.6  de 22469990.01 até 25278739.0
31         z6         de  ...  47169.8         de 25278739.01 até 0.0

[32 rows x 15 columns]

In [ ]:
tables['valor_inicial']=tables[['Unnamed: 2']].astype(str).agg(' ' .join,axis=1)
tables['valor_final']=tables[['Unnamed: 4']].astype(str).agg(' ' .join,axis=1)

Nestas linhas estamos concatenado colunas para termos uma faixa de valor, e termos tambem a entrada de valor inicial e valor final, normatizamos todas as tabelas para seguirem o mesmo formato.

In [ ]:
tables.head(32)

   Unnamed: 0 Unnamed: 1  ...  valor_inicial valor_final
0           a         de  ...            0.0      1095.0
1           b         de  ...        1095.01      4140.0
2           c         de  ...        4140.01      6901.0
3           d         de  ...        6901.01     13805.0
4           e         de  ...       13805.01     27610.0
5           f         de  ...       27610.01     55220.0
6           g         de  ...       55220.01     82830.0
7           h         de  ...       82830.01    110440.0
8           i         de  ...      110440.01    138050.0
9           j         de  ...      138050.01    165660.0
10          k         de  ...      165660.01    193270.0
11          l         de  ...      193270.01    220880.0
12          m         de  ...      220880.01    237255.0
13          n         de  ...      237255.01    276100.0
14          o         de  ...      276100.01    552200.0
15          p         de  ...      552200.01    828300.0
16          q         de  ...      828300.01   1104400.0
17          r         de  ...     1104400.01   1685249.0
18          s         de  ...     1685249.01   2808749.0
19          t         de  ...     2808749.01   4213123.0
20          u         de  ...     4213123.01   5617497.0
21          v         de  ...     5617497.01   7021872.0
22          w         de  ...     7021872.01   8426246.0
23          x         de  ...     8426246.01   9830621.0
24          y         de  ...     9830621.01  11234995.0
25          z         de  ...    11234995.01  12639369.0
26         z1         de  ...    12639369.01  14043744.0
27         z2         de  ...    14043744.01  16852492.0
28         z3         de  ...    16852492.01  19661241.0
29         z4         de  ...    19661241.01  22469990.0
30         z5         de  ...    22469990.01  25278739.0
31         z6         de  ...    25278739.01         0.0

[32 rows x 17 columns]

Teste.
visualizando e vericando a aplicação.

In [ ]:
tables_sp = tables[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
tables_sp['UF'] = 'SP'
tables_sp

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      faixa_valor valor_inicial valor_final    TOTAL  UF
0               de 0.0 até 1095.0           0.0      1095.0   256.48  SP
1           de 1095.01 até 4140.0       1095.01      4140.0   383.28  SP
2           de 4140.01 até 6901.0       4140.01      6901.0   598.46  SP
3          de 6901.01 até 13805.0       6901.01     13805.0   854.94  SP
4         de 13805.01 até 27610.0      13805.01     27610.0  1155.61  SP
5         de 27610.01 até 55220.0      27610.01     55220.0  1370.86  SP
6         de 55220.01 até 82830.0      55220.01     82830.0  1627.35  SP
7        de 82830.01 até 110440.0      82830.01    110440.0  1928.02  SP
8       de 110440.01 até 138050.0     110440.01    138050.0  2184.57  SP
9       de 138050.01 até 165660.0     138050.01    165660.0  2443.97  SP
10      de 165660.01 até 193270.0     165660.01    193270.0  2741.74  SP
11      de 193270.01 até 220880.0     193270.01    220880.0  3001.19  SP
12      de 220880.01 até 237255.0     220880.01    237255.0  3301.88  SP
13      de 237255.01 até 276100.0     237255.01    276100.0  3514.15  SP
14      de 276100.01 até 552200.0     276100.01    552200.0  3900.33  SP
15      de 552200.01 até 828300.0     552200.01    828300.0  4330.77  SP
16     de 828300.01 até 1104400.0     828300.01   1104400.0  4802.47  SP
17    de 1104400.01 até 1685249.0    1104400.01   1685249.0   5306.6  SP
18    de 1685249.01 até 2808749.0    1685249.01   2808749.0   7370.3  SP
19    de 2808749.01 até 4213123.0    2808749.01   4213123.0  9581.35  SP
20    de 4213123.01 até 5617497.0    4213123.01   5617497.0  11792.5  SP
21    de 5617497.01 até 7021872.0    5617497.01   7021872.0  14003.5  SP
22    de 7021872.01 até 8426246.0    7021872.01   8426246.0  16214.6  SP
23    de 8426246.01 até 9830621.0    8426246.01   9830621.0  18425.7  SP
24   de 9830621.01 até 11234995.0    9830621.01  11234995.0  20636.7  SP
25  de 11234995.01 até 12639369.0   11234995.01  12639369.0  22847.8  SP
26  de 12639369.01 até 14043744.0   12639369.01  14043744.0    25059  SP
27  de 14043744.01 até 16852492.0   14043744.01  16852492.0  29481.1  SP
28  de 16852492.01 até 19661241.0   16852492.01  19661241.0  33903.3  SP
29  de 19661241.01 até 22469990.0   19661241.01  22469990.0  38325.4  SP
30  de 22469990.01 até 25278739.0   22469990.01  25278739.0  42747.6  SP
31         de 25278739.01 até 0.0   25278739.01         0.0  47169.8  SP

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
tables_sp['valor_final'].replace(
    to_replace=['0.0'],
    value='99999999.99',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Nesta linha estamos alterando o valor do ultimo resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

**3.4. Dados Estruturados**

In [ ]:
tables_sp

                      faixa_valor valor_inicial  valor_final    TOTAL  UF
0               de 0.0 até 1095.0           0.0       1095.0   256.48  SP
1           de 1095.01 até 4140.0       1095.01       4140.0   383.28  SP
2           de 4140.01 até 6901.0       4140.01       6901.0   598.46  SP
3          de 6901.01 até 13805.0       6901.01      13805.0   854.94  SP
4         de 13805.01 até 27610.0      13805.01      27610.0  1155.61  SP
5         de 27610.01 até 55220.0      27610.01      55220.0  1370.86  SP
6         de 55220.01 até 82830.0      55220.01      82830.0  1627.35  SP
7        de 82830.01 até 110440.0      82830.01     110440.0  1928.02  SP
8       de 110440.01 até 138050.0     110440.01     138050.0  2184.57  SP
9       de 138050.01 até 165660.0     138050.01     165660.0  2443.97  SP
10      de 165660.01 até 193270.0     165660.01     193270.0  2741.74  SP
11      de 193270.01 até 220880.0     193270.01     220880.0  3001.19  SP
12      de 220880.01 até 237255.0     220880.01     237255.0  3301.88  SP
13      de 237255.01 até 276100.0     237255.01     276100.0  3514.15  SP
14      de 276100.01 até 552200.0     276100.01     552200.0  3900.33  SP
15      de 552200.01 até 828300.0     552200.01     828300.0  4330.77  SP
16     de 828300.01 até 1104400.0     828300.01    1104400.0  4802.47  SP
17    de 1104400.01 até 1685249.0    1104400.01    1685249.0   5306.6  SP
18    de 1685249.01 até 2808749.0    1685249.01    2808749.0   7370.3  SP
19    de 2808749.01 até 4213123.0    2808749.01    4213123.0  9581.35  SP
20    de 4213123.01 até 5617497.0    4213123.01    5617497.0  11792.5  SP
21    de 5617497.01 até 7021872.0    5617497.01    7021872.0  14003.5  SP
22    de 7021872.01 até 8426246.0    7021872.01    8426246.0  16214.6  SP
23    de 8426246.01 até 9830621.0    8426246.01    9830621.0  18425.7  SP
24   de 9830621.01 até 11234995.0    9830621.01   11234995.0  20636.7  SP
25  de 11234995.01 até 12639369.0   11234995.01   12639369.0  22847.8  SP
26  de 12639369.01 até 14043744.0   12639369.01   14043744.0    25059  SP
27  de 14043744.01 até 16852492.0   14043744.01   16852492.0  29481.1  SP
28  de 16852492.01 até 19661241.0   16852492.01   19661241.0  33903.3  SP
29  de 19661241.01 até 22469990.0   19661241.01   22469990.0  38325.4  SP
30  de 22469990.01 até 25278739.0   22469990.01   25278739.0  42747.6  SP
31         de 25278739.01 até 0.0   25278739.01  99999999.99  47169.8  SP

Nesta linha estamos consultando a aplicação da linha anteriro.

In [ ]:
tables_sp['valor_inicial']=tables_sp['valor_inicial'].astype(float)
#tables_sp['valor_inicial']=tables_sp['valor_inicial'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos alterando os tipos dos dados da coluna Valor inicial de string para flot e inteiro.

In [ ]:
tables_sp['valor_final']=tables_sp['valor_final'].astype(float)
#tables_sp['valor_final']=tables_sp['valor_final'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos alterando os tipos dos dados da coluna Valor final de string para flot e inteiro.

In [ ]:
tables_sp['TOTAL']=tables_sp['TOTAL'].astype(float)
#tables_sp['TOTAL']=tables_sp['TOTAL'].astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos alterando os tipos dos dados da coluna TOTAL de string para flot e inteiro.

In [ ]:
tables_sp

                      faixa_valor  valor_inicial  valor_final     TOTAL  UF
0               de 0.0 até 1095.0           0.00      1095.00    256.48  SP
1           de 1095.01 até 4140.0        1095.01      4140.00    383.28  SP
2           de 4140.01 até 6901.0        4140.01      6901.00    598.46  SP
3          de 6901.01 até 13805.0        6901.01     13805.00    854.94  SP
4         de 13805.01 até 27610.0       13805.01     27610.00   1155.61  SP
5         de 27610.01 até 55220.0       27610.01     55220.00   1370.86  SP
6         de 55220.01 até 82830.0       55220.01     82830.00   1627.35  SP
7        de 82830.01 até 110440.0       82830.01    110440.00   1928.02  SP
8       de 110440.01 até 138050.0      110440.01    138050.00   2184.57  SP
9       de 138050.01 até 165660.0      138050.01    165660.00   2443.97  SP
10      de 165660.01 até 193270.0      165660.01    193270.00   2741.74  SP
11      de 193270.01 até 220880.0      193270.01    220880.00   3001.19  SP
12      de 220880.01 até 237255.0      220880.01    237255.00   3301.88  SP
13      de 237255.01 até 276100.0      237255.01    276100.00   3514.15  SP
14      de 276100.01 até 552200.0      276100.01    552200.00   3900.33  SP
15      de 552200.01 até 828300.0      552200.01    828300.00   4330.77  SP
16     de 828300.01 até 1104400.0      828300.01   1104400.00   4802.47  SP
17    de 1104400.01 até 1685249.0     1104400.01   1685249.00   5306.60  SP
18    de 1685249.01 até 2808749.0     1685249.01   2808749.00   7370.30  SP
19    de 2808749.01 até 4213123.0     2808749.01   4213123.00   9581.35  SP
20    de 4213123.01 até 5617497.0     4213123.01   5617497.00  11792.47  SP
21    de 5617497.01 até 7021872.0     5617497.01   7021872.00  14003.52  SP
22    de 7021872.01 até 8426246.0     7021872.01   8426246.00  16214.58  SP
23    de 8426246.01 até 9830621.0     8426246.01   9830621.00  18425.69  SP
24   de 9830621.01 até 11234995.0     9830621.01  11234995.00  20636.73  SP
25  de 11234995.01 até 12639369.0    11234995.01  12639369.00  22847.82  SP
26  de 12639369.01 até 14043744.0    12639369.01  14043744.00  25058.96  SP
27  de 14043744.01 até 16852492.0    14043744.01  16852492.00  29481.14  SP
28  de 16852492.01 até 19661241.0    16852492.01  19661241.00  33903.27  SP
29  de 19661241.01 até 22469990.0    19661241.01  22469990.00  38325.44  SP
30  de 22469990.01 até 25278739.0    22469990.01  25278739.00  42747.57  SP
31         de 25278739.01 até 0.0    25278739.01  99999999.99  47169.81  SP

Estamos somente gerando a consulta para verificar a alteração.

Nesta linha estamos verificando os dados ja estrutura e normatizada.

# 4. Coleta e estruturação de dados de precificação do Estado da Bahia.
*Neste projeto estamos trabalhando com os dados de forma mais abrangente como se os dados esportados, fossem uma tabela de cobrança unica Estadual.*

**4.1. Importando Bibliotecas.**

In [ ]:
from tabula import convert_into
from tabula import read_pdf

Nesta linha estamos instalando o conversor que ira permitir a leitura do PDF em Tabelas.

**4.2. Importação do arquivo de tabela de preços no formato PDF.**

In [ ]:
filename = Path('temp_pdf_tabela_bahia.pdf')
url = 'http://www5.tjba.jus.br/portal/wp-content/uploads/2019/12/Tabelas-de-Taxas-TJBA-01.01.2020.pdf'
response = requests.get(url)
filename.write_bytes(response.content)

573768

Importando a base de dados de precificação do estado da Bahia em PDF do Site https://www.anoreg.org.br/site/tabela-de-emolumentos/, não estrutarada e gerando o DataFrame.

In [ ]:
df_bahia = read_pdf("temp_pdf_tabela_bahia.pdf", multiple_tables = True, pages = 'all')

Got stderr: Jul 18, 2020 12:07:24 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Jul 18, 2020 12:07:24 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Jul 18, 2020 12:07:24 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts

Nesta linha gerando a lista do arquivo PDF que coletamos atraves do endereço.

**4.3. Higienização.**

In [ ]:
df_bahia = df_bahia[10]
df_bahia

                  Faixa de Valores Valor a Pagar  Código do Ato
0                     até 1.600,00        237,66           1020
1           de 1.600,01 a 3.200,00        298,96           1030
2           de 3.200,01 a 8.000,00        360,24           1040
3          de 8.000,01 a 12.000,00        389,34           1049
4         de 12.000,01 a 16.000,00        418,96           1058
5         de 16.000,01 a 24.000,00        478,32           1066
6         de 24.000,01 a 32.000,00        539,20           1074
7         de 32.000,01 a 47.000,00        595,58           1082
8         de 47.000,01 a 63.000,00        656,32           1086
9         de 63.000,01 a 78.000,00        720,70           1090
10       de 78.000,01 a 118.000,00        767,58           1097
11      de 118.000,01 a 160.000,00        830,48           1104
12      de 160.000,01 a 235.000,00      1.344,40           1112
13      de 235.000,01 a 350.000,00      2.016,80           1120
14      de 350.000,01 a 530.000,00      3.029,06           1139
15      de 530.000,01 a 800.000,00      4.542,44           1147
16    de 800.000,01 a 1.200.000,00      6.812,54           1155
17  de 1.200.000,01 a 1.800.000,00      8.175,02           1163
18  de 1.800.000,01 a 2.700.000,00     10.627,76           1171
19  de 2.700.000,01 a 4.000.000,00     13.816,08           1180
20        a partir de 4.000.000,01     17.960,94           1198

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.

In [ ]:
df_bahia.astype(str)

                  Faixa de Valores Valor a Pagar Código do Ato
0                     até 1.600,00        237,66          1020
1           de 1.600,01 a 3.200,00        298,96          1030
2           de 3.200,01 a 8.000,00        360,24          1040
3          de 8.000,01 a 12.000,00        389,34          1049
4         de 12.000,01 a 16.000,00        418,96          1058
5         de 16.000,01 a 24.000,00        478,32          1066
6         de 24.000,01 a 32.000,00        539,20          1074
7         de 32.000,01 a 47.000,00        595,58          1082
8         de 47.000,01 a 63.000,00        656,32          1086
9         de 63.000,01 a 78.000,00        720,70          1090
10       de 78.000,01 a 118.000,00        767,58          1097
11      de 118.000,01 a 160.000,00        830,48          1104
12      de 160.000,01 a 235.000,00      1.344,40          1112
13      de 235.000,01 a 350.000,00      2.016,80          1120
14      de 350.000,01 a 530.000,00      3.029,06          1139
15      de 530.000,01 a 800.000,00      4.542,44          1147
16    de 800.000,01 a 1.200.000,00      6.812,54          1155
17  de 1.200.000,01 a 1.800.000,00      8.175,02          1163
18  de 1.800.000,01 a 2.700.000,00     10.627,76          1171
19  de 2.700.000,01 a 4.000.000,00     13.816,08          1180
20        a partir de 4.000.000,01     17.960,94          1198

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_bahia1 = df_bahia.join(df_bahia['Faixa de Valores'].str.split(' ', 3, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'C', 3:'valor_final'}))
df_bahia1

                  Faixa de Valores Valor a Pagar  ...     C   valor_final
0                     até 1.600,00        237,66  ...  None          None
1           de 1.600,01 a 3.200,00        298,96  ...     a      3.200,00
2           de 3.200,01 a 8.000,00        360,24  ...     a      8.000,00
3          de 8.000,01 a 12.000,00        389,34  ...     a     12.000,00
4         de 12.000,01 a 16.000,00        418,96  ...     a     16.000,00
5         de 16.000,01 a 24.000,00        478,32  ...     a     24.000,00
6         de 24.000,01 a 32.000,00        539,20  ...     a     32.000,00
7         de 32.000,01 a 47.000,00        595,58  ...     a     47.000,00
8         de 47.000,01 a 63.000,00        656,32  ...     a     63.000,00
9         de 63.000,01 a 78.000,00        720,70  ...     a     78.000,00
10       de 78.000,01 a 118.000,00        767,58  ...     a    118.000,00
11      de 118.000,01 a 160.000,00        830,48  ...     a    160.000,00
12      de 160.000,01 a 235.000,00      1.344,40  ...     a    235.000,00
13      de 235.000,01 a 350.000,00      2.016,80  ...     a    350.000,00
14      de 350.000,01 a 530.000,00      3.029,06  ...     a    530.000,00
15      de 530.000,01 a 800.000,00      4.542,44  ...     a    800.000,00
16    de 800.000,01 a 1.200.000,00      6.812,54  ...     a  1.200.000,00
17  de 1.200.000,01 a 1.800.000,00      8.175,02  ...     a  1.800.000,00
18  de 1.800.000,01 a 2.700.000,00     10.627,76  ...     a  2.700.000,00
19  de 2.700.000,01 a 4.000.000,00     13.816,08  ...     a  4.000.000,00
20        a partir de 4.000.000,01     17.960,94  ...    de  4.000.000,01

[21 rows x 7 columns]

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final.

In [ ]:
df_bahia1.replace(to_replace=[None], value="1600", inplace=True)
df_bahia.replace(to_replace=[1.])
df_bahia1.head()

           Faixa de Valores Valor a Pagar  ...     C valor_final
0              até 1.600,00        237,66  ...  1600        1600
1    de 1.600,01 a 3.200,00        298,96  ...     a    3.200,00
2    de 3.200,01 a 8.000,00        360,24  ...     a    8.000,00
3   de 8.000,01 a 12.000,00        389,34  ...     a   12.000,00
4  de 12.000,01 a 16.000,00        418,96  ...     a   16.000,00

[5 rows x 7 columns]

Nesta linha estamos fazendo a alteração do valor nulo para o valor final.

In [ ]:
df_bahia["Valor a Pagar"]=df_bahia["Valor a Pagar"].str.replace('.', '').str.replace(',','.').astype(float)
#df_bahia["Valor a Pagar"]=df_bahia["Valor a Pagar"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

Nesta linha estamos alterando os tipos dos dados da coluna Valor a pagar de string para flot e inteiro.

In [ ]:
df_bahia1['valor_final'].replace(
    to_replace=['4.000.000,01'],
    value='99999999,99',
    inplace=True
)

Nesta linha estamos alterando o valor do ultimo resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

In [ ]:
df_bahia1['valor_inicial'].replace(
    to_replace=['1.600,00'],
    value='0.00',
    inplace=True
)

Nesta linha estamos alterando o primeiro resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

In [ ]:
df_bahia1['valor_inicial'].replace(
    to_replace=['partir'],
    value='4.000.000,01',
    inplace=True
)

Nesta linha estamos alterando o valor do ultimo resgistro da tabela, para que não tenhamos conflito na utilização dos dados pela ferramenta.

**4.4. Estruturação.**

In [ ]:
df_bahia1.rename(columns={'Faixa de Valores': 'faixa_valor', 'Valor a Pagar': 'TOTAL'}, inplace = True)

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_bahia_a = df_bahia1[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_bahia_a['UF'] = 'BA'
df_bahia_a

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                       faixa_valor valor_inicial   valor_final      TOTAL  UF
0                     até 1.600,00          0.00          1600     237,66  BA
1           de 1.600,01 a 3.200,00      1.600,01      3.200,00     298,96  BA
2           de 3.200,01 a 8.000,00      3.200,01      8.000,00     360,24  BA
3          de 8.000,01 a 12.000,00      8.000,01     12.000,00     389,34  BA
4         de 12.000,01 a 16.000,00     12.000,01     16.000,00     418,96  BA
5         de 16.000,01 a 24.000,00     16.000,01     24.000,00     478,32  BA
6         de 24.000,01 a 32.000,00     24.000,01     32.000,00     539,20  BA
7         de 32.000,01 a 47.000,00     32.000,01     47.000,00     595,58  BA
8         de 47.000,01 a 63.000,00     47.000,01     63.000,00     656,32  BA
9         de 63.000,01 a 78.000,00     63.000,01     78.000,00     720,70  BA
10       de 78.000,01 a 118.000,00     78.000,01    118.000,00     767,58  BA
11      de 118.000,01 a 160.000,00    118.000,01    160.000,00     830,48  BA
12      de 160.000,01 a 235.000,00    160.000,01    235.000,00   1.344,40  BA
13      de 235.000,01 a 350.000,00    235.000,01    350.000,00   2.016,80  BA
14      de 350.000,01 a 530.000,00    350.000,01    530.000,00   3.029,06  BA
15      de 530.000,01 a 800.000,00    530.000,01    800.000,00   4.542,44  BA
16    de 800.000,01 a 1.200.000,00    800.000,01  1.200.000,00   6.812,54  BA
17  de 1.200.000,01 a 1.800.000,00  1.200.000,01  1.800.000,00   8.175,02  BA
18  de 1.800.000,01 a 2.700.000,00  1.800.000,01  2.700.000,00  10.627,76  BA
19  de 2.700.000,01 a 4.000.000,00  2.700.000,01  4.000.000,00  13.816,08  BA
20        a partir de 4.000.000,01  4.000.000,01   99999999,99  17.960,94  BA

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
df_bahia_a["valor_inicial"]=df_bahia_a["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float)
#df_bahia_a["valor_inicial"]=df_bahia_a["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos alterando os tipos dos dados da coluna Valor inicial de string para flot e inteiro.

**4.5. Dados estruturados.**

In [ ]:
df_bahia_a["valor_final"]=df_bahia_a["valor_final"].str.replace('.', '').str.replace(',','.').astype(float)
#df_bahia_a["valor_final"]=df_bahia_a["valor_final"].str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos alterando os tipos dos dados da coluna Valor final de string para flot e inteiro.

In [ ]:
df_bahia_a.head(20)

                       faixa_valor  valor_inicial  valor_final      TOTAL  UF
0                     até 1.600,00           0.00       1600.0     237,66  BA
1           de 1.600,01 a 3.200,00        1600.01       3200.0     298,96  BA
2           de 3.200,01 a 8.000,00        3200.01       8000.0     360,24  BA
3          de 8.000,01 a 12.000,00        8000.01      12000.0     389,34  BA
4         de 12.000,01 a 16.000,00       12000.01      16000.0     418,96  BA
5         de 16.000,01 a 24.000,00       16000.01      24000.0     478,32  BA
6         de 24.000,01 a 32.000,00       24000.01      32000.0     539,20  BA
7         de 32.000,01 a 47.000,00       32000.01      47000.0     595,58  BA
8         de 47.000,01 a 63.000,00       47000.01      63000.0     656,32  BA
9         de 63.000,01 a 78.000,00       63000.01      78000.0     720,70  BA
10       de 78.000,01 a 118.000,00       78000.01     118000.0     767,58  BA
11      de 118.000,01 a 160.000,00      118000.01     160000.0     830,48  BA
12      de 160.000,01 a 235.000,00      160000.01     235000.0   1.344,40  BA
13      de 235.000,01 a 350.000,00      235000.01     350000.0   2.016,80  BA
14      de 350.000,01 a 530.000,00      350000.01     530000.0   3.029,06  BA
15      de 530.000,01 a 800.000,00      530000.01     800000.0   4.542,44  BA
16    de 800.000,01 a 1.200.000,00      800000.01    1200000.0   6.812,54  BA
17  de 1.200.000,01 a 1.800.000,00     1200000.01    1800000.0   8.175,02  BA
18  de 1.800.000,01 a 2.700.000,00     1800000.01    2700000.0  10.627,76  BA
19  de 2.700.000,01 a 4.000.000,00     2700000.01    4000000.0  13.816,08  BA

Nesta linha estamos verificando as aplicações da linhas anteriores.

#5. Coleta e estruturação de dados de precificação do Estado do Piaui.
*Neste projeto estamos trabalhando com os dados de forma mais abrangente como se os dados esportados, fossem uma tabela de cobrança unica Estadual.*

**5.1.  Importação do arquivo de tabela de preços no formato PDF.**

In [ ]:
filename = Path('temp_pdf_tabela_piaui.pdf')
url = 'http://www.tjpi.jus.br/portaltjpi/wp-content/uploads/2020/01/Provimento-Conjunto-CGJPI-e-Vice-CGJPI-n%C3%82%C2%BA-01-2020-Disp%C3%83%C2%B5e-sobre-a-atualiza%C3%83%C2%A7%C3%83%C2%A3o-das-tabelas-de-custas-e-emolumentos-do-Estado.pdf'
response = requests.get(url)
filename.write_bytes(response.content)

337278

Importando a base de dados de precificação do estado da Piaui em PDF do Site https://www.anoreg.org.br/site/tabela-de-emolumentos/, não estrutarada e gerando o DataFrame.

In [ ]:
df_piaui = read_pdf("temp_pdf_tabela_piaui.pdf", multiple_tables = True, pages = 'all')

Nesta linha gerando a lista do arquivo PDF que coletamos atraves do endereço.

**5.2. Higienização.**

In [ ]:
df_piauiA = df_piaui[11]
df_piauiA = df_piauiA.dropna(0)
df_piauiA.head(32)

   Código                 Descrição   Cartório  ...        MP      Valor    Selo
1   45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...   R$ 6,01  R$ 294,69  Padrão
2   45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...   R$ 6,73  R$ 329,90  Padrão
3   45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...   R$ 7,45  R$ 365,12  Padrão
4   45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...   R$ 8,17  R$ 400,32  Padrão
5   45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...   R$ 8,89  R$ 435,54  Padrão
6   45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$ 10,33  R$ 505,98  Padrão
7   45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$ 11,76  R$ 576,38  Padrão
8   45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$ 13,20  R$ 646,82  Padrão

[8 rows x 7 columns]

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação.
Estaos fazendo també a limpeza dos dados que estão zerados. Devido ao formato divergente nas configuração das paginas do dado não estruturado, tivemos que subdividir este DataFrame.

In [ ]:
df_piauiA.astype(str)

  Código                 Descrição   Cartório  ...        MP      Valor    Selo
1  45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...   R$ 6,01  R$ 294,69  Padrão
2  45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...   R$ 6,73  R$ 329,90  Padrão
3  45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...   R$ 7,45  R$ 365,12  Padrão
4  45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...   R$ 8,17  R$ 400,32  Padrão
5  45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...   R$ 8,89  R$ 435,54  Padrão
6  45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$ 10,33  R$ 505,98  Padrão
7  45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$ 11,76  R$ 576,38  Padrão
8  45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$ 13,20  R$ 646,82  Padrão

[8 rows x 7 columns]

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_piaui1 = df_piauiA.join(df_piauiA['Descrição'].str.split(' ', 2, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'valor_final'}))
valor_inicial_temp =df_piaui1['valor_inicial'].str.split('a', expand=True).rename(columns={0:'valor_inicial', 1:'B', 2:'C'})

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final.

In [ ]:
df_piaui1['valor_inicial'] = valor_inicial_temp
df_piaui1.head()

   Código                Descrição   Cartório  ...   A valor_inicial valor_final
1   45.01        R$ 0,01aR$ 999,99  R$ 240,57  ...  R$          0,01      999,99
2   45.02  R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...  R$      1.000,00    1.999,99
3   45.03  R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...  R$      2.000,00    2.999,99
4   45.04  R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...  R$      3.000,00    3.999,99
5   45.05  R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...  R$      4.000,00    4.999,99

[5 rows x 10 columns]

Nesta linha estamos normatizando a coluna apos a linpeza e eliminação de dados que poderiam causar incompatibilidade na aplicação do DataFrame ao banco de dados.

**5.3. Estruturação.**

In [ ]:
df_piaui1.rename(columns={'Descrição': 'faixa_valor', 'Valor': 'TOTAL'}, inplace = True)
df_piaui1

   Código               faixa_valor   Cartório  ...   A valor_inicial valor_final
1   45.01         R$ 0,01aR$ 999,99  R$ 240,57  ...  R$          0,01      999,99
2   45.02   R$ 1.000,00aR$ 1.999,99  R$ 269,31  ...  R$      1.000,00    1.999,99
3   45.03   R$ 2.000,00aR$ 2.999,99  R$ 298,06  ...  R$      2.000,00    2.999,99
4   45.04   R$ 3.000,00aR$ 3.999,99  R$ 326,79  ...  R$      3.000,00    3.999,99
5   45.05   R$ 4.000,00aR$ 4.999,99  R$ 355,54  ...  R$      4.000,00    4.999,99
6   45.06   R$ 5.000,00aR$ 6.999,99  R$ 413,04  ...  R$      5.000,00    6.999,99
7   45.07   R$ 7.000,00aR$ 8.999,99  R$ 470,52  ...  R$      7.000,00    8.999,99
8   45.08  R$ 9.000,00aR$ 11.999,99  R$ 528,02  ...  R$      9.000,00   11.999,99

[8 rows x 10 columns]

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_piaui1A = df_piaui1[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_piaui1A['UF'] = 'PI'
df_piaui1A

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                faixa_valor valor_inicial valor_final      TOTAL  UF
1         R$ 0,01aR$ 999,99          0,01      999,99  R$ 294,69  PI
2   R$ 1.000,00aR$ 1.999,99      1.000,00    1.999,99  R$ 329,90  PI
3   R$ 2.000,00aR$ 2.999,99      2.000,00    2.999,99  R$ 365,12  PI
4   R$ 3.000,00aR$ 3.999,99      3.000,00    3.999,99  R$ 400,32  PI
5   R$ 4.000,00aR$ 4.999,99      4.000,00    4.999,99  R$ 435,54  PI
6   R$ 5.000,00aR$ 6.999,99      5.000,00    6.999,99  R$ 505,98  PI
7   R$ 7.000,00aR$ 8.999,99      7.000,00    8.999,99  R$ 576,38  PI
8  R$ 9.000,00aR$ 11.999,99      9.000,00   11.999,99  R$ 646,82  PI

Nesta linha estamos gerando o DataFrame com as informações que serão usadas na aplicação.

In [ ]:
df_piaui1A["TOTAL"]=df_piaui1A["TOTAL"].str.replace('R', '').str.replace('$', '').str.replace('.', '').str.replace(',','.').astype(float)
#df_piaui1A["TOTAL"]=df_piaui1A["TOTAL"].str.replace('R', '').str.replace('$', '').str.replace('.', '').str.replace(',','.').astype(float).astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente.

In [ ]:
df_piaui1A["valor_inicial"] = df_piaui1A["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float)
df_piaui1A["valor_final"] = df_piaui1A["valor_final"].str.replace('.', '').str.replace(',','.').astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_piauiB = df_piaui[12]
df_piauiB

    Código  ...    Selo
0    45.09  ...  Padrão
1    45.10  ...  Padrão
2    45.11  ...  Padrão
3    45.12  ...  Padrão
4    45.13  ...  Padrão
5    45.14  ...  Padrão
6    45.15  ...  Padrão
7    45.16  ...  Padrão
8    45.17  ...  Padrão
9    45.18  ...  Padrão
10   45.19  ...  Padrão
11   45.20  ...  Padrão
12   45.21  ...  Padrão
13   45.22  ...  Padrão
14   45.23  ...  Padrão
15   45.24  ...  Padrão
16   45.25  ...  Padrão
17   45.26  ...  Padrão
18   45.27  ...  Padrão
19   45.28  ...  Padrão
20   45.29  ...  Padrão
21   45.30  ...  Padrão
22   45.31  ...  Padrão
23   45.32  ...  Padrão
24   45.33  ...  Padrão
25   45.34  ...  Padrão
26   46.00  ...     NaN

[27 rows x 7 columns]

Nesta linha estamos normatizando o DataFrame orientando á pagina que será utilizada na aplicação. Estaos fazendo també a limpeza dos dados que estão zerados.

In [ ]:
df_piauiB.dropna(inplace=True)
df_piauiB

    Código                    Descrição  ...        Valor    Selo
0    45.09    R$ 12.000,00aR$ 14.999,99  ...    R$ 793,98  Padrão
1    45.10    R$ 15.000,00aR$ 17.999,99  ...    R$ 941,15  Padrão
2    45.11    R$ 18.000,00aR$ 20.999,99  ...  R$ 1.088,31  Padrão
3    45.12    R$ 21.000,00aR$ 23.999,99  ...  R$ 1.235,48  Padrão
4    45.13    R$ 24.000,00aR$ 26.999,99  ...  R$ 1.383,53  Padrão
5    45.14    R$ 27.000,00aR$ 29.999,99  ...  R$ 1.529,85  Padrão
6    45.15    R$ 30.000,00aR$ 34.999,99  ...  R$ 1.738,13  Padrão
7    45.16    R$ 35.000,00aR$ 39.999,99  ...  R$ 1.946,38  Padrão
8    45.17    R$ 40.000,00aR$ 44.999,99  ...  R$ 2.154,64  Padrão
9    45.18    R$ 45.000,00aR$ 49.999,99  ...  R$ 2.362,89  Padrão
10   45.19    R$ 50.000,00aR$ 59.999,99  ...  R$ 2.469,86  Padrão
11   45.20    R$ 60.000,00aR$ 69.999,99  ...  R$ 2.576,85  Padrão
12   45.21    R$ 70.000,00aR$ 79.999,99  ...  R$ 2.683,83  Padrão
13   45.22    R$ 80.000,00aR$ 89.999,99  ...  R$ 2.697,45  Padrão
14   45.23    R$ 90.000,00aR$ 99.999,99  ...  R$ 2.711,12  Padrão
15   45.24  R$ 100.000,00aR$ 149.999,99  ...  R$ 2.724,76  Padrão
16   45.25  R$ 150.000,00aR$ 199.999,99  ...  R$ 2.738,42  Padrão
17   45.26  R$ 200.000,00aR$ 299.999,99  ...  R$ 3.067,29  Padrão
18   45.27  R$ 300.000,00aR$ 399.999,99  ...  R$ 3.335,54  Padrão
19   45.28  R$ 400.000,00aR$ 499.999,99  ...  R$ 3.603,04  Padrão
20   45.29  R$ 500.000,00aR$ 599.999,99  ...  R$ 3.870,52  Padrão
21   45.30  R$ 600.000,00aR$ 699.999,99  ...  R$ 4.138,03  Padrão
22   45.31  R$ 700.000,00aR$ 799.999,99  ...  R$ 4.405,52  Padrão
23   45.32  R$ 800.000,00aR$ 899.999,99  ...  R$ 4.673,02  Padrão
24   45.33  R$ 900.000,00aR$ 999.999,99  ...  R$ 4.940,53  Padrão
25   45.34      acima deR$ 1.000.000,00  ...  R$ 5.208,08  Padrão

[26 rows x 7 columns]

Nesta linha estamos higienizando, e eliminando todos os valores nulos e estruturamos com o primeiro DataFrame, para a contatenação entre eles.

In [ ]:
df_piauiB.astype(str)

   Código                    Descrição  ...        Valor    Selo
0   45.09    R$ 12.000,00aR$ 14.999,99  ...    R$ 793,98  Padrão
1    45.1    R$ 15.000,00aR$ 17.999,99  ...    R$ 941,15  Padrão
2   45.11    R$ 18.000,00aR$ 20.999,99  ...  R$ 1.088,31  Padrão
3   45.12    R$ 21.000,00aR$ 23.999,99  ...  R$ 1.235,48  Padrão
4   45.13    R$ 24.000,00aR$ 26.999,99  ...  R$ 1.383,53  Padrão
5   45.14    R$ 27.000,00aR$ 29.999,99  ...  R$ 1.529,85  Padrão
6   45.15    R$ 30.000,00aR$ 34.999,99  ...  R$ 1.738,13  Padrão
7   45.16    R$ 35.000,00aR$ 39.999,99  ...  R$ 1.946,38  Padrão
8   45.17    R$ 40.000,00aR$ 44.999,99  ...  R$ 2.154,64  Padrão
9   45.18    R$ 45.000,00aR$ 49.999,99  ...  R$ 2.362,89  Padrão
10  45.19    R$ 50.000,00aR$ 59.999,99  ...  R$ 2.469,86  Padrão
11   45.2    R$ 60.000,00aR$ 69.999,99  ...  R$ 2.576,85  Padrão
12  45.21    R$ 70.000,00aR$ 79.999,99  ...  R$ 2.683,83  Padrão
13  45.22    R$ 80.000,00aR$ 89.999,99  ...  R$ 2.697,45  Padrão
14  45.23    R$ 90.000,00aR$ 99.999,99  ...  R$ 2.711,12  Padrão
15  45.24  R$ 100.000,00aR$ 149.999,99  ...  R$ 2.724,76  Padrão
16  45.25  R$ 150.000,00aR$ 199.999,99  ...  R$ 2.738,42  Padrão
17  45.26  R$ 200.000,00aR$ 299.999,99  ...  R$ 3.067,29  Padrão
18  45.27  R$ 300.000,00aR$ 399.999,99  ...  R$ 3.335,54  Padrão
19  45.28  R$ 400.000,00aR$ 499.999,99  ...  R$ 3.603,04  Padrão
20  45.29  R$ 500.000,00aR$ 599.999,99  ...  R$ 3.870,52  Padrão
21   45.3  R$ 600.000,00aR$ 699.999,99  ...  R$ 4.138,03  Padrão
22  45.31  R$ 700.000,00aR$ 799.999,99  ...  R$ 4.405,52  Padrão
23  45.32  R$ 800.000,00aR$ 899.999,99  ...  R$ 4.673,02  Padrão
24  45.33  R$ 900.000,00aR$ 999.999,99  ...  R$ 4.940,53  Padrão
25  45.34      acima deR$ 1.000.000,00  ...  R$ 5.208,08  Padrão

[26 rows x 7 columns]

Nesta linha estamos trasnformafo o DataFrame em String, para normalizarmos a tabela.

In [ ]:
df_piaui2 = df_piauiB.join(df_piauiB['Descrição'].str.split(' ', 2, expand=True).rename(columns={0:'A', 1:'valor_inicial', 2:'valor_final'}))
valor_inicial_temp =df_piaui2['valor_inicial'].str.split('a', expand=True).rename(columns={0:'valor_inicial', 1:'B', 2:'C'})
df_piaui2['valor_inicial'] = valor_inicial_temp
df_piaui2.head()

   Código                  Descrição     Cartório  ...   A valor_inicial valor_final
0   45.09  R$ 12.000,00aR$ 14.999,99    R$ 648,15  ...  R$     12.000,00   14.999,99
1   45.10  R$ 15.000,00aR$ 17.999,99    R$ 768,28  ...  R$     15.000,00   17.999,99
2   45.11  R$ 18.000,00aR$ 20.999,99    R$ 888,42  ...  R$     18.000,00   20.999,99
3   45.12  R$ 21.000,00aR$ 23.999,99  R$ 1.008,56  ...  R$     21.000,00   23.999,99
4   45.13  R$ 24.000,00aR$ 26.999,99  R$ 1.129,41  ...  R$     24.000,00   26.999,99

[5 rows x 10 columns]

Nesta linha estamos fazendo a estruturação da faixa de valor para que tenhamos, uma faixa de valor com intervalo, e a faixa de valor inicial e final. Estamos normatizando a coluna apos a linpeza e eliminação de dados que poderiam causar incompatibilidade na aplicação do DataFrame ao banco de dados.

In [ ]:
df_piaui2.rename(columns={'Descrição': 'faixa_valor', 'Valor': 'TOTAL'}, inplace = True)
df_piaui2

    Código                  faixa_valor  ... valor_inicial   valor_final
0    45.09    R$ 12.000,00aR$ 14.999,99  ...     12.000,00     14.999,99
1    45.10    R$ 15.000,00aR$ 17.999,99  ...     15.000,00     17.999,99
2    45.11    R$ 18.000,00aR$ 20.999,99  ...     18.000,00     20.999,99
3    45.12    R$ 21.000,00aR$ 23.999,99  ...     21.000,00     23.999,99
4    45.13    R$ 24.000,00aR$ 26.999,99  ...     24.000,00     26.999,99
5    45.14    R$ 27.000,00aR$ 29.999,99  ...     27.000,00     29.999,99
6    45.15    R$ 30.000,00aR$ 34.999,99  ...     30.000,00     34.999,99
7    45.16    R$ 35.000,00aR$ 39.999,99  ...     35.000,00     39.999,99
8    45.17    R$ 40.000,00aR$ 44.999,99  ...     40.000,00     44.999,99
9    45.18    R$ 45.000,00aR$ 49.999,99  ...     45.000,00     49.999,99
10   45.19    R$ 50.000,00aR$ 59.999,99  ...     50.000,00     59.999,99
11   45.20    R$ 60.000,00aR$ 69.999,99  ...     60.000,00     69.999,99
12   45.21    R$ 70.000,00aR$ 79.999,99  ...     70.000,00     79.999,99
13   45.22    R$ 80.000,00aR$ 89.999,99  ...     80.000,00     89.999,99
14   45.23    R$ 90.000,00aR$ 99.999,99  ...     90.000,00     99.999,99
15   45.24  R$ 100.000,00aR$ 149.999,99  ...    100.000,00    149.999,99
16   45.25  R$ 150.000,00aR$ 199.999,99  ...    150.000,00    199.999,99
17   45.26  R$ 200.000,00aR$ 299.999,99  ...    200.000,00    299.999,99
18   45.27  R$ 300.000,00aR$ 399.999,99  ...    300.000,00    399.999,99
19   45.28  R$ 400.000,00aR$ 499.999,99  ...    400.000,00    499.999,99
20   45.29  R$ 500.000,00aR$ 599.999,99  ...    500.000,00    599.999,99
21   45.30  R$ 600.000,00aR$ 699.999,99  ...    600.000,00    699.999,99
22   45.31  R$ 700.000,00aR$ 799.999,99  ...    700.000,00    799.999,99
23   45.32  R$ 800.000,00aR$ 899.999,99  ...    800.000,00    899.999,99
24   45.33  R$ 900.000,00aR$ 999.999,99  ...    900.000,00    999.999,99
25   45.34      acima deR$ 1.000.000,00  ...          deR$  1.000.000,00

[26 rows x 10 columns]

Nesta linha estamos renomeando as colunas do DataFrame para mantermos o padrão para todas as bases, ja estruturada.

In [ ]:
df_piaui2B = df_piaui2[['faixa_valor', 'valor_inicial', 'valor_final', 'TOTAL']]
df_piaui2B['UF'] = 'PI'
df_piaui2B

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    faixa_valor valor_inicial   valor_final        TOTAL  UF
0     R$ 12.000,00aR$ 14.999,99     12.000,00     14.999,99    R$ 793,98  PI
1     R$ 15.000,00aR$ 17.999,99     15.000,00     17.999,99    R$ 941,15  PI
2     R$ 18.000,00aR$ 20.999,99     18.000,00     20.999,99  R$ 1.088,31  PI
3     R$ 21.000,00aR$ 23.999,99     21.000,00     23.999,99  R$ 1.235,48  PI
4     R$ 24.000,00aR$ 26.999,99     24.000,00     26.999,99  R$ 1.383,53  PI
5     R$ 27.000,00aR$ 29.999,99     27.000,00     29.999,99  R$ 1.529,85  PI
6     R$ 30.000,00aR$ 34.999,99     30.000,00     34.999,99  R$ 1.738,13  PI
7     R$ 35.000,00aR$ 39.999,99     35.000,00     39.999,99  R$ 1.946,38  PI
8     R$ 40.000,00aR$ 44.999,99     40.000,00     44.999,99  R$ 2.154,64  PI
9     R$ 45.000,00aR$ 49.999,99     45.000,00     49.999,99  R$ 2.362,89  PI
10    R$ 50.000,00aR$ 59.999,99     50.000,00     59.999,99  R$ 2.469,86  PI
11    R$ 60.000,00aR$ 69.999,99     60.000,00     69.999,99  R$ 2.576,85  PI
12    R$ 70.000,00aR$ 79.999,99     70.000,00     79.999,99  R$ 2.683,83  PI
13    R$ 80.000,00aR$ 89.999,99     80.000,00     89.999,99  R$ 2.697,45  PI
14    R$ 90.000,00aR$ 99.999,99     90.000,00     99.999,99  R$ 2.711,12  PI
15  R$ 100.000,00aR$ 149.999,99    100.000,00    149.999,99  R$ 2.724,76  PI
16  R$ 150.000,00aR$ 199.999,99    150.000,00    199.999,99  R$ 2.738,42  PI
17  R$ 200.000,00aR$ 299.999,99    200.000,00    299.999,99  R$ 3.067,29  PI
18  R$ 300.000,00aR$ 399.999,99    300.000,00    399.999,99  R$ 3.335,54  PI
19  R$ 400.000,00aR$ 499.999,99    400.000,00    499.999,99  R$ 3.603,04  PI
20  R$ 500.000,00aR$ 599.999,99    500.000,00    599.999,99  R$ 3.870,52  PI
21  R$ 600.000,00aR$ 699.999,99    600.000,00    699.999,99  R$ 4.138,03  PI
22  R$ 700.000,00aR$ 799.999,99    700.000,00    799.999,99  R$ 4.405,52  PI
23  R$ 800.000,00aR$ 899.999,99    800.000,00    899.999,99  R$ 4.673,02  PI
24  R$ 900.000,00aR$ 999.999,99    900.000,00    999.999,99  R$ 4.940,53  PI
25      acima deR$ 1.000.000,00          deR$  1.000.000,00  R$ 5.208,08  PI

Nesta linha estamos renomeando as colunas estrurando o DataFrame, gerando a exclusão das colunas que não serão utilizados. Estamos iserindo o estado a qual a tabela pertence que será o elo de ligação com a ferramenta para a consulta do cliente

In [ ]:
df_piaui2B['valor_inicial'].replace(
    to_replace=['deR$'],
    value='1.000.000,00',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
df_piaui2B['valor_final'].replace(
    to_replace=['1.000.000,00'],
    value='9.999.999,99',
    inplace=True
)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [ ]:
df_piaui2B.head(50)

                    faixa_valor valor_inicial   valor_final        TOTAL  UF
0     R$ 12.000,00aR$ 14.999,99     12.000,00     14.999,99    R$ 793,98  PI
1     R$ 15.000,00aR$ 17.999,99     15.000,00     17.999,99    R$ 941,15  PI
2     R$ 18.000,00aR$ 20.999,99     18.000,00     20.999,99  R$ 1.088,31  PI
3     R$ 21.000,00aR$ 23.999,99     21.000,00     23.999,99  R$ 1.235,48  PI
4     R$ 24.000,00aR$ 26.999,99     24.000,00     26.999,99  R$ 1.383,53  PI
5     R$ 27.000,00aR$ 29.999,99     27.000,00     29.999,99  R$ 1.529,85  PI
6     R$ 30.000,00aR$ 34.999,99     30.000,00     34.999,99  R$ 1.738,13  PI
7     R$ 35.000,00aR$ 39.999,99     35.000,00     39.999,99  R$ 1.946,38  PI
8     R$ 40.000,00aR$ 44.999,99     40.000,00     44.999,99  R$ 2.154,64  PI
9     R$ 45.000,00aR$ 49.999,99     45.000,00     49.999,99  R$ 2.362,89  PI
10    R$ 50.000,00aR$ 59.999,99     50.000,00     59.999,99  R$ 2.469,86  PI
11    R$ 60.000,00aR$ 69.999,99     60.000,00     69.999,99  R$ 2.576,85  PI
12    R$ 70.000,00aR$ 79.999,99     70.000,00     79.999,99  R$ 2.683,83  PI
13    R$ 80.000,00aR$ 89.999,99     80.000,00     89.999,99  R$ 2.697,45  PI
14    R$ 90.000,00aR$ 99.999,99     90.000,00     99.999,99  R$ 2.711,12  PI
15  R$ 100.000,00aR$ 149.999,99    100.000,00    149.999,99  R$ 2.724,76  PI
16  R$ 150.000,00aR$ 199.999,99    150.000,00    199.999,99  R$ 2.738,42  PI
17  R$ 200.000,00aR$ 299.999,99    200.000,00    299.999,99  R$ 3.067,29  PI
18  R$ 300.000,00aR$ 399.999,99    300.000,00    399.999,99  R$ 3.335,54  PI
19  R$ 400.000,00aR$ 499.999,99    400.000,00    499.999,99  R$ 3.603,04  PI
20  R$ 500.000,00aR$ 599.999,99    500.000,00    599.999,99  R$ 3.870,52  PI
21  R$ 600.000,00aR$ 699.999,99    600.000,00    699.999,99  R$ 4.138,03  PI
22  R$ 700.000,00aR$ 799.999,99    700.000,00    799.999,99  R$ 4.405,52  PI
23  R$ 800.000,00aR$ 899.999,99    800.000,00    899.999,99  R$ 4.673,02  PI
24  R$ 900.000,00aR$ 999.999,99    900.000,00    999.999,99  R$ 4.940,53  PI
25      acima deR$ 1.000.000,00  1.000.000,00  9.999.999,99  R$ 5.208,08  PI

In [ ]:
df_piaui2B["TOTAL"] = df_piaui2B["TOTAL"].str.replace('R', '').str.replace('$', '').str.replace('.', '').str.replace(',','.').astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_piaui2B["valor_inicial"] = df_piaui2B["valor_inicial"].str.replace('.', '').str.replace(',','.').astype(float)
df_piaui2B["valor_final"] = df_piaui2B["valor_final"].str.replace('.', '').str.replace(',','.').astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
piaui_result = pd.concat([df_piaui1A , df_piaui2B], axis=0 , sort=False)
piaui_result

                    faixa_valor  valor_inicial  valor_final    TOTAL  UF
1             R$ 0,01aR$ 999,99           0.01       999.99   294.69  PI
2       R$ 1.000,00aR$ 1.999,99        1000.00      1999.99   329.90  PI
3       R$ 2.000,00aR$ 2.999,99        2000.00      2999.99   365.12  PI
4       R$ 3.000,00aR$ 3.999,99        3000.00      3999.99   400.32  PI
5       R$ 4.000,00aR$ 4.999,99        4000.00      4999.99   435.54  PI
6       R$ 5.000,00aR$ 6.999,99        5000.00      6999.99   505.98  PI
7       R$ 7.000,00aR$ 8.999,99        7000.00      8999.99   576.38  PI
8      R$ 9.000,00aR$ 11.999,99        9000.00     11999.99   646.82  PI
0     R$ 12.000,00aR$ 14.999,99       12000.00     14999.99   793.98  PI
1     R$ 15.000,00aR$ 17.999,99       15000.00     17999.99   941.15  PI
2     R$ 18.000,00aR$ 20.999,99       18000.00     20999.99  1088.31  PI
3     R$ 21.000,00aR$ 23.999,99       21000.00     23999.99  1235.48  PI
4     R$ 24.000,00aR$ 26.999,99       24000.00     26999.99  1383.53  PI
5     R$ 27.000,00aR$ 29.999,99       27000.00     29999.99  1529.85  PI
6     R$ 30.000,00aR$ 34.999,99       30000.00     34999.99  1738.13  PI
7     R$ 35.000,00aR$ 39.999,99       35000.00     39999.99  1946.38  PI
8     R$ 40.000,00aR$ 44.999,99       40000.00     44999.99  2154.64  PI
9     R$ 45.000,00aR$ 49.999,99       45000.00     49999.99  2362.89  PI
10    R$ 50.000,00aR$ 59.999,99       50000.00     59999.99  2469.86  PI
11    R$ 60.000,00aR$ 69.999,99       60000.00     69999.99  2576.85  PI
12    R$ 70.000,00aR$ 79.999,99       70000.00     79999.99  2683.83  PI
13    R$ 80.000,00aR$ 89.999,99       80000.00     89999.99  2697.45  PI
14    R$ 90.000,00aR$ 99.999,99       90000.00     99999.99  2711.12  PI
15  R$ 100.000,00aR$ 149.999,99      100000.00    149999.99  2724.76  PI
16  R$ 150.000,00aR$ 199.999,99      150000.00    199999.99  2738.42  PI
17  R$ 200.000,00aR$ 299.999,99      200000.00    299999.99  3067.29  PI
18  R$ 300.000,00aR$ 399.999,99      300000.00    399999.99  3335.54  PI
19  R$ 400.000,00aR$ 499.999,99      400000.00    499999.99  3603.04  PI
20  R$ 500.000,00aR$ 599.999,99      500000.00    599999.99  3870.52  PI
21  R$ 600.000,00aR$ 699.999,99      600000.00    699999.99  4138.03  PI
22  R$ 700.000,00aR$ 799.999,99      700000.00    799999.99  4405.52  PI
23  R$ 800.000,00aR$ 899.999,99      800000.00    899999.99  4673.02  PI
24  R$ 900.000,00aR$ 999.999,99      900000.00    999999.99  4940.53  PI
25      acima deR$ 1.000.000,00     1000000.00   9999999.99  5208.08  PI

Nesta linha estamos concatenando os dois DataFrames estruturados, para a aplicação no banco de dados.

**5.4. Concatenação das 3 bases de dados da tabela de precificação.**
*Nesta etapada do projeto estamos gerando uma unica base de precificação dos estados para alimentar o banco de dados.

In [ ]:
emolumentos_final = pd.concat([tables_sp , df_bahia_a , piaui_result ], axis=0 , sort=False)
emolumentos_final

                    faixa_valor  valor_inicial  valor_final    TOTAL  UF
0             de 0.0 até 1095.0           0.00      1095.00   256.48  SP
1         de 1095.01 até 4140.0        1095.01      4140.00   383.28  SP
2         de 4140.01 até 6901.0        4140.01      6901.00   598.46  SP
3        de 6901.01 até 13805.0        6901.01     13805.00   854.94  SP
4       de 13805.01 até 27610.0       13805.01     27610.00  1155.61  SP
..                          ...            ...          ...      ...  ..
21  R$ 600.000,00aR$ 699.999,99      600000.00    699999.99  4138.03  PI
22  R$ 700.000,00aR$ 799.999,99      700000.00    799999.99  4405.52  PI
23  R$ 800.000,00aR$ 899.999,99      800000.00    899999.99  4673.02  PI
24  R$ 900.000,00aR$ 999.999,99      900000.00    999999.99  4940.53  PI
25      acima deR$ 1.000.000,00     1000000.00   9999999.99  5208.08  PI

[87 rows x 5 columns]

Nesta linha estamos gerando o DataFrame dos dados de precificação ja higienizados, estruturados e normatizados para a aplicação e inserção no MongoDB, onde vamos armazenar os dados.

#6. Importação dos dados para o mongoDB
*Nesta estapa do projeto estamos fazendo a importação das bases para o MongoDB, O MongoDB é um banco de dados orientado a documentos, diferente dos Bancos de dados tradicionais que seguem o modelo relacional.

**6.1. Importando as bibliotecas.**

In [ ]:
!pip install pymongo
!pip install dnspython
!pip install pymongo[srv]
!pip install psycopg2
import pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.10.1)
Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/90/49/cb426577c28ca3e35332815b795a99e467523843fc83cc85ca0d6be2515a/dnspython-2.0.0-py3-none-any.whl (208kB)
     |████████████████████████████████| 215kB 2.8MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.0.0
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.10.1)
Collecting dnspython<2.0.0,>=1.16.0; extra == "srv"
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 2.7MB/s
Installing collected packages: dnspython
  Found existing installation: dnspython 2.0.0
    Uninstalling dnspython-2.0.0:
      Successfully uninstalled dnspython-2.0.0
Successfully installed dnspython-1.16.0
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

Nestas linhas estamos instando as blibliotes para o importe dos arquivos ja estruturado para o MongoDB.

In [ ]:
client = pymongo.MongoClient("mongodb+srv://WatsonDB:CNH2020@cnh.uo1qd.gcp.mongodb.net/?retryWrites=true&w=majority")
db = client.cnh
client.server_info()

{'$clusterTime': {'clusterTime': Timestamp(1596142760, 1),
  'signature': {'hash': b'@t\x93\xe82\x84A6\x1a\xc1!:\xb8I)\x1a\xff\x1f\x88S',
   'keyId': 6844590737674207235}},
 'allocator': 'tcmalloc',
 'bits': 64,
 'buildEnvironment': {'cc': '/opt/mongodbtoolchain/v3/bin/gcc: gcc (GCC) 8.2.0',
  'ccflags': '-fno-omit-frame-pointer -fno-strict-aliasing -ggdb -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -Werror -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -fno-builtin-memcmp',
  'cxx': '/opt/mongodbtoolchain/v3/bin/g++: g++ (GCC) 8.2.0',
  'cxxflags': '-Woverloaded-virtual -Wno-maybe-uninitialized -fsized-deallocation -std=c++17',
  'distarch': 'x86_64',
  'distmod': 'rhel70',
  'linkflags': '-pthread -Wl,-z,now -rdynamic -Wl,--fatal-warnings -fstack-protector-strong -fuse-ld=gold -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro -Wl,-rpath,/usr/lib64/perl5/CORE',
  'target_arch': 'x86_64',
  'target_os': 'linux'},
 'debug': False,
 'gitVersion': '43d25964249164d76d5e04dd6cf38f6111e21f5f',
 'javascriptEngine': 'mozjs',
 'maxBsonObjectSize': 16777216,
 'modules': ['enterprise'],
 'ok': 1.0,
 'openssl': {'compiled': 'OpenSSL 1.0.1e-fips 11 Feb 2013',
  'running': 'OpenSSL 1.0.1e-fips 11 Feb 2013'},
 'operationTime': Timestamp(1596142760, 1),
 'storageEngines': ['biggie',
  'devnull',
  'ephemeralForTest',
  'inMemory',
  'queryable_wt',
  'wiredTiger'],
 'sysInfo': 'deprecated',
 'version': '4.2.8',
 'versionArray': [4, 2, 8, 0]}

Nesta linha estamos criando a conexão com o MongoDB, para gerarmos os dataSets e as coleções onde vamos armazenar os dados.

**6.2. Importação dos dados de cartorios nacional para o banco de dados.**

In [ ]:
db = client.DataSets

Estamos criando o DataSets que serão os repositorios dos bancos de dados.

In [ ]:
db.create_collection('cartorios')

Collection(Database(MongoClient(host=['cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'cartorios')

Nesta linha estamos gerando a coleção para o armazenamento das bancos de dados.

In [ ]:
cartorios = db['cartorios']
cartorios

Collection(Database(MongoClient(host=['cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'cartorios')

Nesta linha estamos criando o DataFrame catorios e inserindo dentro do MongoDB

In [ ]:
cartorios.find_one({"cep_digito": '6'})

In [ ]:
data = ds2
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cartorios.insert_many(data_dict)

Nesta linha estamos importando o DataFrame do dados dos cartorios para o Datset criado dentro do MongoDB.

In [ ]:
collection = db.cartorios
data = pd.DataFrame(list(collection.find()))
data.head()

**6.3. Impotação dos dados dos emolumentos para o banco de dados.**

In [ ]:
db.create_collection('emolumentos')

Collection(Database(MongoClient(host=['cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'emolumentos')

Nesta linha estamos criando a coleção para os emolumentos inserindo dentro do MongoDB

In [ ]:
emolumentos = db['emolumentos']
emolumentos

Collection(Database(MongoClient(host=['cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'emolumentos')

Nesta linha estamos criando o DataFrame emolumentos e inserindo dentro do MongoDB

In [ ]:
data_e = emolumentos_final
data_e.reset_index(inplace=True)
data_e_dict = data_e.to_dict("records")
emolumentos.insert_many(data_e_dict)

Nesta linha estamos importando o DataFrame do dados dos emolumenos para o Datset criado dentro do MongoDB.

In [ ]:
collection = db.emolumentos
data_e = pd.DataFrame(list(collection.find()))
data_e.head()

Nesta lunha estamos gerando a visualisão dos banco de dados.

**6.4. Importando os dados de cartorios com latitude e longitude para os estamos de São Paulo, Bahia e Piaui.**

In [ ]:
#não precisamos rodar novamente esta aplicação.
db.create_collection('cart')

In [ ]:
cart = db['cart']
cart

Collection(Database(MongoClient(host=['cnh-shard-00-01.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-00.uo1qd.gcp.mongodb.net:27017', 'cnh-shard-00-02.uo1qd.gcp.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-2lc86u-shard-0', ssl=True), 'DataSets'), 'cart')

In [ ]:
data = spl1
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl2
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl3
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl4
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl5
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl6
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl7
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl8
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl9
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl10
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl11
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = spl12
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba1
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba2
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba3
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba4
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba5
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba6
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba7
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba8
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = ba9
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

In [ ]:
data = pi1
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
cart.insert_many(data_dict)

# 7. Criação e aplicação Assistente Virtual.

**7.1. O que assistente virtual?**
##E um programa de computador utilizdo para executar tarefas e conversas, usando linguagem Naturlal.

**7.2. Criação das entidades.**

**7.3. Criação das inteções.**

**7.4. Criação dos dialogos.**

**7.5. Conclusão.**

https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=us-south&integrationID=028c9d18-faef-4084-bd4b-6eb0114a9a39&serviceInstanceID=cafb09e1-a00e-4229-af7c-5125271584b5